@use '../styles/utils.scss';
@use '../styles/variables.scss';
@use './styles/breakpoints.scss';
@value nDsc from '../components/article.module.scss';

.btn-mod {
    display: flex;
    margin: 0.5rem 0;

    button {
        background: inherit;
    }

    &.well {
        margin-bottom: 0;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &.btn-wrap {
            .btn {
                flex: 0 1 auto;
                align-self: stretch;
                justify-content: center;
                //min-width: 6.875rem;

                &.btn_w {
                    margin: 0.25rem 0;
                }
            }
        }
    }

    .btn {
        @include utils.basic-button;
        @include utils.move-before-wraplink;

        @include breakpoints.sm {
            display: flex;
            justify-content: center;
        }

        svg {
            width: 1.1em;
            margin-right: 0.3rem;
        }

        &.btn_xs {
            font-size: variables.$xss-txt;
            line-height: 1.2307692308em;
            padding: 0.25em 0.75em;
        }

        &.btn_sm {
            font-size: variables.$xss-txt;
            line-height: 1.2307692308em;
            padding: 0.5em 1em;
        }

        &.btn_md {
            font-size: variables.$xs-txt;
            line-height: 1.4285714286em;
            padding: 0.625em 1.25em;
        }

        &.btn_lg {
            font-size: variables.$xs-txt;
            line-height: 1.4285714286em;
            padding: 0.625em 1.25em;
        }

        &.btn_xl {
            font-size: variables.$xs-txt;
            padding: 0.625em 1.25em;
            line-height: 1.4285714286em;
        }

        @include breakpoints.md-min {
            &.btn_lg {
                padding: 0.825em 2.25em;
            }

            &.btn_xl {
                font-size: 1em;
                line-height: 1.5em;
                padding: 1.125em 2.75em;
            }
        }

        &.btn-block {
            display: block;
            width: 100%;
        }

        &.btn_1,
        &.btn_alt,
        &.btn_promo,
        &.btn_override,
        &.btn_cta,
        &.btn_banner {
            @include utils.button-shadow;
        }

        &.btn2_override:hover {
            border-color: transparent;
        }
    }

    &.article_1,
    &.article_2,
    &.modal,
    &.article_3.nImg,
    &.photo_grid,
    &.banner,
    &.parallax,
    &.gallery {
        .btn {
            align-self: flex-start;
        }

        //alignment modifiers
        &.left {
            .wrapper {
                justify-content: flex-start;

                .btn-wrap {
                    justify-content: left;
                }
            }
        }

        &.right {
            .wrapper {
                justify-content: flex-end;

                .btn-wrap {
                    justify-content: right;
                }
            }
        }

        &.center {
            .wrapper {
                justify-content: center;

                .btn-wrap {
                    justify-content: center;
                }
            }
        }
    }

    &.a3,
    &.article {
        .btn {
            align-self: flex-start;
        }
    }

    &.well {
        &.article_1 {
            .btn {
                width: 100%;
            }
        }
        &.article-all {
            margin-top: auto;

            .one-btn-w {
                margin-top: auto;

                .btn {
                    margin-bottom: 0;
                }
            }
        }
        &.card {
            margin-top: auto;
            margin-bottom: 0;
        }

        &.article_1,
        &.article_2,
        &.modal {
            &.two-btns {
                padding: 0 2rem 1.5rem;
            }
        }
    }

    &.article-all,
    &.photo_grid,
    &.card {
        .btn-wrap {
            gap: 1rem;

            @include breakpoints.sm {
                gap: 0.5rem;
            }
        }
    }

    &.card {
        .wrapper {
            justify-content: center;

            .btn-wrap {
                justify-content: center;
            }

            .btn {
                min-width: 6.875rem;
            }
        }
    }
    &.parallax .btn-wrap,
    &.gallery .btn-wrap {
        gap: 1rem;
    }

    &.gallery {
        .btn-wrap .btn {
            min-width: 6.875rem;
        }
    }

    &.banner {
        &.left {
            justify-content: center;

            .btn-wrap {
                justify-content: center;
            }
        }

        .btn-wrap {
            gap: 0.25rem;
        }
    }

    .one-btn-w {
        width: 100%;

        .btn_w {
            width: 100% !important;
        }
    }
    &:not(&.two-btns) {
        &.article-all.well {
            .btn {
                border-width: 0;
                border-radius: 0;
            }
        }

        &.banner .btn_2 {
            border-width: 0;
            border-radius: 0;
        }
    }

    &.cta {
        justify-content: flex-end;

        .btn-wrap {
            justify-content: flex-end;
            gap: 10px;
            align-items: center;

            a:nth-of-type(even) {
                div {
                    background-color: var(--promo2);

                    &:hover {
                        background-color: var(--promo3);
                    }
                }
            }

            .btn_cta {
                display: none;

                @include breakpoints.sm-min {
                    display: block;
                }
            }
        }
    }

    &.cta_banner {
        width: 100%;
        margin: 0;

        a {
            width: 100%;
        }
    }
}

.nDsc {
    .btn-mod.article_2.two-btns {
        display: none;
    }

    .btn-mod.article_2 .btn {
        margin-top: 0;
    }
}
