@use '../styles/utils.scss';
@use '../styles/variables.scss';
@use './styles/breakpoints.scss';
@value nDsc from '../components/article.module.scss';

.btn-mod {
    display: flex;
    margin: 0.5rem 0;

    &.well {
        margin-bottom: 0;
    }

    .btn {
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        appearance: none;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-decoration: none;
        text-align: center;
        user-select: none;
        white-space: normal;
        display: inline-block;
        text-transform: uppercase;

        @include breakpoints.sm {
            display: flex;
            justify-content: center;
        }

        svg {
            width: 1.1em;
            margin-right: 0.2rem;
        }

        &.btn_xs {
            font-size: variables.$xss-txt;
            line-height: 1.2307692308em;
            padding: 0.25em 0.75em;
        }

        &.btn_sm {
            font-size: variables.$xss-txt;
            line-height: 1.2307692308em;
            padding: 0.5em 1em;
        }

        &.btn_md {
            font-size: variables.$xs-txt;
            line-height: 1.4285714286em;
            padding: 0.625em 1.25em;
        }

        &.btn_lg {
            font-size: variables.$xs-txt;
            line-height: 1.4285714286em;
            padding: 0.625em 1.25em;
        }

        &.btn_xl {
            font-size: variables.$xs-txt;
            padding: 0.625em 1.25em;
            line-height: 1.4285714286em;
        }

        @include breakpoints.md-min {
            &.btn_lg {
                padding: 0.825em 2.25em;
            }

            &.btn_xl {
                font-size: 1em;
                line-height: 1.5em;
                padding: 1.125em 2.75em;
            }
        }

        &.btn-block {
            display: block;
            width: 100%;
        }

        &.btn_1,
        &.btn_alt,
        &.btn_promo,
        &.btn_override {
            box-shadow: 0 2px 10px rgb(0 0 0 / 25%);
            border-color: transparent;

            &:hover {
                box-shadow: 0 3px 13px rgb(0 0 0 / 20%), 0 8px 25px rgb(0 0 0 / 15%);
            }
        }

        &.btn_2 {
            border-style: solid;
            border-width: 1px;
            border-radius: 2px;
            // margin: 0.5rem 0;
        }

        &.btn_1,
        &.btn_2 {
            border-style: solid;
            border-width: 1px;
            border-radius: 2px;
            // margin: 0.5rem 0;
        }

        &.transition {
            transition: all 0.2s ease-in-out;
        }

        /* &.btn_w {
            margin: auto 0 0;
            width: 100%;
        } */
    }

    .btn-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        a {
            &.btn-block {
                display: block;
                width: 100%;
            }
        }

        .btn {
            flex: 0 1 auto;
            align-self: stretch;
            justify-content: center;
            min-width: 6.875rem;

            &.btn_w {
                margin: 0.25rem 0;
            }
        }
    }

    &.article_1,
    &.article_2,
    &.photo_grid,
    &.banner {
        .btn {
            align-self: flex-start;
        }

        //alignment modifiers
        &.left {
            justify-content: flex-start;

            .btn-wrap {
                justify-content: left;
            }
        }

        &.right {
            justify-content: flex-end;

            .btn-wrap {
                justify-content: right;
            }
        }

        &.center {
            justify-content: center;

            .btn-wrap {
                justify-content: center;
            }
        }
    }

    &.a3,
    &.article {
        .btn {
            align-self: flex-start;
        }
    }

    &.well {
        &.article_1 {
            .btn {
                width: 100%;
            }
        }
        &.article,
        &.article_1,
        &.article_2,
        &.article_3 {
            margin-top: auto;

            .one-btn-w {
                margin-top: auto;

                .btn {
                    margin-bottom: 0;
                }
            }

            &.two-btns {
                padding: 0 2rem 1.5rem;
            }
        }
    }

    &.article,
    &.article_1,
    &.article_2,
    &.article_3,
    &.photo_grid {
        .btn-wrap {
            gap: 1rem;

            @include breakpoints.sm {
                gap: 0.5rem;
            }
        }
    }
    &.banner {
        &.left {
            justify-content: center;

            .btn-wrap {
                justify-content: center;
            }
        }

        .btn-wrap {
            @include breakpoints.sm {
                gap: 0.25rem;
            }
        }
    }

    .one-btn-w {
        width: 100%;

        .btn_w {
            width: 100% !important;
        }
    }
}

.nDsc {
    //Two buttons do not display when there is no description. Not sure if this is intentional
    .article {
        .two-btns {
            display: none;
        }
    }

    .btn-mod.article_2 .btn {
        margin-top: 0;
    }
}
