@use '../styles/utils.module.scss';
@use './styles/breakpoints.scss';
@use '../styles/variables.scss';

.root {
    .wrapper {
        .btn {
            box-sizing: border-box;
            @include utils.cta_btn;

            &.altBtn {
                margin: 30px 0;
                a {
                    padding: 8px 15px;
                    border-radius: 35px;

                    &:hover {
                        letter-spacing: 4px;
                        /* background-color: #000 !important; */
                        transition-duration: 0.5s !important;
                        transition-timing-function: ease-in !important;
                    }
                }
            }
        }
    }
}
