@use 'sass:math';
@use './styles/breakpoints.scss';
@use './styles/utils.scss';
@use './styles/variables.scss';

.root {
    a {
        @include utils.move-before-wraplink;
    }

    .dsc {
        width: 100%;
        font-size: variables.$xs-txt;
        margin-top: 1.1428571429em;
        margin-bottom: 1.1428571429em;
        line-height: 1.4285714286em;

        @include breakpoints.lg-min {
            font-size: variables.$sm-txt;
            margin-top: 0.9411764706em;
            margin-bottom: 0.9411764706em;
            line-height: 1.4117647059em;
        }
    }

    &.well {
        &.article_1 {
            padding: 0 2rem 0;
            width: 100%;
            padding-bottom: 1.5rem;
        }

        &.article_2 {
            padding: 0 2rem 1.5rem;
        }
    }

    &.thin .dsc {
        margin: 0.3em 0;
    }

    &.parallax {
        .dsc {
            @include breakpoints.lg-min {
                font-size: 1.25em;

                line-height: 1.4117647059em;
            }

            margin-top: 0;
        }
    }
}

@include utils.text-sizes;
