@use 'sass:math';
@use './styles/breakpoints.scss';
@use './styles/utils.scss';
@use '../styles/variables.scss';

@value well from '../components/article.module.scss';
@value nDsc from '../components/article.module.scss';
@value article_1 from '../components/article.module.scss';
@value article_2 from '../components/article.module.scss';
@value nDsc from '../components/article.module.scss';
@value hero from '../components/photogrid.module.scss';
@value nImg from '../components/photogrid.module.scss';

.hd-block {
    margin-top: 0.7058823529em;

    .sh {
        font-size: variables.$xs-txt;
        margin-top: 0.5714285714em;
        margin-bottom: 0.5714285714em;
        line-height: 1.1428571429em;
        font-weight: 400;
    }

    .hd {
        font-size: variables.$sm-txt;
        margin-bottom: 0.4705882353em;
        line-height: 1.1764705882em;
        font-weight: 700;

        //add
        margin-top: 0;
    }

    .icon-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.5rem;

        .circle {
            position: absolute;
            z-index: 1;
        }

        .icon {
            //
            height: 6rem;
            width: 6rem;
            z-index: 2;
            padding: 1.5rem;

            @include breakpoints.md-min {
                height: 7rem;
                width: 7rem;
                padding: 2rem;
            }
        }
    }

    &.article {
        //add
        .hd {
            margin-bottom: 0;
        }

        //medium screens
        @container item (min-width: 343px) {
            margin-top: 0.6666666667em;
            .hd {
                font-size: variables.$md-txt;
                //margin-bottom: 0.5em;
                line-height: 1.1666666667em;
                letter-spacing: -0.0125rem;
            }

            .sh {
                font-size: variables.$sm-txt;
                margin-top: 0.7058823529em;
                margin-bottom: 0.4705882353em;
                line-height: 1.1764705882em;
            }
        }

        //for larger screens (starts at 1025)
        @container item (min-width: 775px) {
            .hd {
                font-size: variables.$lg-txt;
                // margin-bottom: 0.4444444444em;
                line-height: 1.1111111111em;
                letter-spacing: -0.0125rem;
                margin-top: 0.6666666667em;
            }

            .sh {
                font-size: variables.$md-txt;
                margin-top: 0.6666666667em;
                margin-bottom: 0.5em;
                line-height: 1.1666666667em;
                letter-spacing: -0.0125rem;
            }
        }
    }

    &.banner {
        @container item (min-width: 481px) {
            margin-top: 0.6666666667em;
            .hd {
                font-size: variables.$md-txt;
                // margin-bottom: 0.5em;
                line-height: 1.1666666667em;
                letter-spacing: -0.0125rem;
            }

            .sh {
                font-size: variables.$sm-txt;
                margin-top: 0.7058823529em;
                margin-bottom: 0.4705882353em;
                line-height: 1.1764705882em;
            }
        }

        @container item (min-width: 1025px) {
            margin-top: 0.6666666667em;
            .hd {
                font-size: variables.$lg-txt;
                // margin-bottom: 0.4444444444em;
                line-height: 1.1111111111em;
                letter-spacing: -0.0125rem;
            }

            .sh {
                font-size: variables.$md-txt;
                margin-top: 0.6666666667em;
                margin-bottom: 0.5em;
                line-height: 1.1666666667em;
                letter-spacing: -0.0125rem;
            }
        }

        &.left {
            .icon-block {
                @include breakpoints.sm-min {
                    margin-right: 0.5rem;
                }

                @include breakpoints.md-min {
                    margin-right: 1rem;
                }
            }
        }
    }

    @include breakpoints.sm-min {
        &.banner.left {
            display: flex;
            flex: 1 1 66.666%;
            align-items: center;
        }
    }
}

.hero,
.nImg {
    .photo_grid {
        .hd {
            font-size: variables.$md-txt;
            margin-top: 0.6666666667em;
            margin-bottom: 0.5em;
            line-height: 1.1666666667em;
            letter-spacing: -0.0125rem;
        }

        .sh {
            font-size: variables.$sm-txt;
            margin-top: 0.7058823529em;
            margin-bottom: 0.4705882353em;
            line-height: 1.1764705882em;
        }
        //new
        @container item (min-width: 481px) {
            .hd {
                font-size: variables.$lg-txt;
                margin-top: 0.6666666667em;
                margin-bottom: 0.4444444444em;
                line-height: 1.1111111111em;
                letter-spacing: -0.0125rem;
            }

            .sh {
                font-size: variables.$md-txt;
                margin-top: 0.6666666667em;
                margin-bottom: 0.5em;
                line-height: 1.1666666667em;
                letter-spacing: -0.0125rem;
            }
        }
    }
}

.well {
    &.article_1 {
        .hd-block {
            padding: 0 2rem 0;
        }

        .nDsc {
            .hd-block {
                padding-bottom: 1.5rem;
            }
        }
    }

    &.article_2 {
        .hd-block {
            padding: 1rem 2rem;
        }
    }

    .hd-block {
        width: 100%;
    }
}

@include utils.text-sizes;
