@use 'sass:math';
@use './styles/breakpoints.scss';
@use './styles/utils.scss';

@value well from '../components/article.module.scss';
@value nDsc from '../components/article.module.scss';
@value article_1 from '../components/article.module.scss';
@value article_2 from '../components/article.module.scss';
@value nDsc from '../components/article.module.scss';
@value hero from '../components/photogrid.module.scss';
@value nImg from '../components/photogrid.module.scss';

.hd-block {
    .sh {
        font-size: utils.$xs-txt;
        margin-top: 0.5714285714em;
        margin-bottom: 0.5714285714em;
        line-height: 1.1428571429em;
        font-weight: 400;
    }

    .hd {
        font-size: utils.$sm-txt;
        margin-top: 0.7058823529em;
        margin-bottom: 0.4705882353em;
        line-height: 1.1764705882em;
        font-weight: 700;
    }

    &.article {
        /* @container item (min-width:0px) {
            .sh {
                font-size: utils.$xs-txt;
                margin-top: 0.5714285714em;
                margin-bottom: 0.5714285714em;
                line-height: 1.1428571429em;
            }

            .hd {
                font-size: utils.$sm-txt;
                margin-top: 0.7058823529em;
                margin-bottom: 0.4705882353em;
                line-height: 1.1764705882em;
            }
        } */
        //temp: medium screens, need to revise size maybe
        @container item (min-width: 343px) {
            .hd {
                font-size: utils.$md-txt;
                margin-top: 0.6666666667em;
                margin-bottom: 0.5em;
                line-height: 1.1666666667em;
                letter-spacing: -0.0125rem;
            }

            .sh {
                font-size: utils.$sm-txt;
                margin-top: 0.7058823529em;
                margin-bottom: 0.4705882353em;
                line-height: 1.1764705882em;
            }
        }

        //for larger screens (starts at 1025)
        @container item (min-width: 775px) {
            .hd {
                font-size: utils.$lg-txt;
                margin-top: 0.6666666667em;
                margin-bottom: 0.4444444444em;
                line-height: 1.1111111111em;
                letter-spacing: -0.0125rem;
            }

            .sh {
                font-size: utils.$md-txt;
                margin-top: 0.6666666667em;
                margin-bottom: 0.5em;
                line-height: 1.1666666667em;
                letter-spacing: -0.0125rem;
            }
        }
    }
}

.hero,
.nImg {
    .photo_grid {
        .hd {
            font-size: utils.$md-txt;
            margin-top: 0.6666666667em;
            margin-bottom: 0.5em;
            line-height: 1.1666666667em;
            letter-spacing: -0.0125rem;
        }

        .sh {
            font-size: utils.$sm-txt;
            margin-top: 0.7058823529em;
            margin-bottom: 0.4705882353em;
            line-height: 1.1764705882em;
        }

        @container item (min-width: 343px) {
            .hd {
                font-size: utils.$lg-txt;
                margin-top: 0.6666666667em;
                margin-bottom: 0.4444444444em;
                line-height: 1.1111111111em;
                letter-spacing: -0.0125rem;
            }

            .sh {
                font-size: utils.$md-txt;
                margin-top: 0.6666666667em;
                margin-bottom: 0.5em;
                line-height: 1.1666666667em;
                letter-spacing: -0.0125rem;
            }
        }
    }
}

.well {
    &.article_1 {
        .hd-block {
            padding: 0 2rem 0;
        }

        .nDsc {
            .hd-block {
                padding-bottom: 1.5rem;
            }
        }
    }

    &.article_2 {
        .hd-block {
            padding: 1rem 2rem;
        }
    }

    .hd-block {
        width: 100%;
    }
}

@include utils.text-sizes;
