@use 'sass:math';
@use './styles/breakpoints.scss';

.image {
    position: relative;
    margin: 0;
    width: 100%;
    max-width: 100%;
    line-height: 0;

    .icon-block {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);

        .icon {
            color: #fff;
            svg {
                font-size: 1.3333333333em;
                width: 100%;
                height: 100%;

                max-height: 3em;

                @include breakpoints.md-min {
                    max-height: 5em;
                    max-width: 5em;
                }
            }
        }
    }

    &.testimonials {
        z-index: 1;
    }

    //adding with here and padding-bottom, aspect-ratio not accepted on older phones
    &.square_1_1 {
        //aspect-ratio: math.div(1, 1);
        padding-bottom: 100%;
    }
    &.round_1_1 {
        padding-bottom: 100%;
        border-radius: 999px;
        overflow: hidden;
        margin-top: 2rem;
    }

    &.landscape_4_3 {
        padding-bottom: percentage(3/4);
    }

    &.landscape_3_2 {
        padding-bottom: percentage(2/3);
    }

    &.portrait_3_4 {
        padding-bottom: percentage(4/3);
    }

    &.portrait_2_3 {
        padding-bottom: percentage(3/2);
    }

    &.widescreen_16_9 {
        padding-bottom: percentage(9/16);
    }

    &.widescreen_3_1 {
        padding-bottom: percentage(1/3);
    }

    &.widescreen_2_4_1 {
        padding-bottom: percentage(100/241);
    }

    &.no_sizing {
        img {
            position: relative !important;
        }
    }

    &.photo-grid {
        height: 100%;
    }

    .caption {
        display: block;
        font-size: 75%;
        padding: 0.5rem 1.5rem;
        text-align: center;
        z-index: 2;
        bottom: 0;
        position: absolute;
        width: 100%;
        line-height: 1.3em;
    }

    &.article {
        .caption {
            padding: 0.5rem 1rem;
            background: rgba(0, 0, 0, 0.5);
            position: relative;
        }
    }

    &.card {
        &.no_sizing {
            height: 100%;
            width: 100%;

            img {
                position: absolute !important;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
//
