@use './styles/breakpoints.scss';

.root {
    .dsc {
        font-size: 0.8125em;
        margin-top: 0.9230769231em;
        margin-bottom: 0.9230769231em;
        line-height: 1.5384615385em;
    }
}
