@use '../styles/breakpoints.scss';
@use '../styles/utils.scss';

.access {
    width: 100%;
    display: flex;
    align-items: center;

    @include breakpoints.lg-min {
        flex: 1 1 100%;
    }

    .menu {
        font-size: utils.$xss-txt;
        // margin-top: 0.9230769231em;
        //margin-bottom: 0.9230769231em;
        line-height: 1.5384615385em;
        margin: 0;
        list-style-type: none;
        padding: 0;

        li {
            display: inline-block;
            position: relative;
            letter-spacing: 0.05em;

            a {
                display: block;
                padding: 0.75rem 0.5rem;
                width: 100%;
                cursor: pointer;
            }
        }

        &.desktop-nav {
            li > .sub-menu {
                box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
                position: absolute;
                opacity: 0;
                visibility: hidden;
                padding-top: 2rem;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
                max-height: 70vh;
                margin: 0;
                z-index: 300;
                min-width: 100%;
                background: rgba(16, 37, 46, 1);

                a {
                    padding: 0.25rem 0.5rem;
                }
            }

            li:hover .sub-menu {
                opacity: 1;
                visibility: visible;
            }

            display: none;

            ul {
                padding: 0;
            }
            li > .sub-menu {
                padding: 0 0 0 0.5rem;
            }

            ul .sub-menu li {
                padding-left: 1rem;
            }

            @include breakpoints.lg-min {
                display: block;
            }

            .arrow:after {
                content: '▼';
                font-size: 80%;
                padding-left: 0.3rem;
                font-weight: bold;
            }

            li {
                text-transform: uppercase;
            }
        }

        &.desktop-nav,
        &.mobile-nav {
            li {
                font-weight: bold;
            }
        }

        &.desktop-nav {
            li > .sub-menu {
                font-size: 90%;
                margin: 0;
            }
        }

        &.footer-nav {
            width: 100%;

            ul {
                padding: 0;
            }

            li {
                display: block;

                a {
                    line-height: 1.0909090909em;
                    border-radius: 2px;
                    margin-top: 0.25em;
                    margin-bottom: 0.25em;
                    padding: 0.375em 1em 0.4375em;
                    font-weight: normal;
                    text-transform: initial;
                    display: block;
                    text-align: left;
                }
            }
        }

        &.mobile-nav {
            font-size: utils.$xs-txt;

            li {
                margin: 1rem 0;
                font-weight: 700;
                display: block;

                a {
                    border-radius: 2px;
                    display: inline-block;
                    outline: 0;
                    padding: 0.5rem;
                }
            }

            .sub-1 {
                font-size: 90%;

                li {
                    margin: 0;
                }
            }

            ul {
                padding: 0 0 0 0.5rem;
            }
        }
    }
}
