@use './styles/variables.scss';

.root {
    .dsc {
        font-size: variables.$xss-txt;
        margin-top: 0.9230769231em;
        margin-bottom: 0.9230769231em;
        line-height: 1.5384615385em;
    }
}
