@use './styles/variables.scss';
@use './styles/breakpoints.scss';

.root {
    .dsc {
        font-size: variables.$xss-txt;
        margin-top: 0.9230769231em;
        margin-bottom: 0.9230769231em;
        line-height: 1.5384615385em;
    }

    &.header {
        display: none;

        @include breakpoints.sm {
            display: block;
        }

        color: var(--txt-accent);

        .dsc {
            font-size: variables.$sm-txt;
            text-transform: uppercase;
            margin: 0;
            font-weight: 700;
        }
    }
}
