@use '../styles/utils.module.scss';
@use './styles/breakpoints.scss';
@use '../styles/variables.scss';

$lh-height: 1.3;

.root {
    width: 100%;

    .wrapper {
        padding: 30px;
        width: 100%;
        margin: 15px auto;
        max-width: variables.$max-main-width;

        @include breakpoints.sm {
            width: variables.$content-width;
        }

        @include utils.useFlex;
        flex-direction: column;
        box-sizing: border-box;

        .imageBlock {
            position: relative;
            /*  width: 800px;
            height: 300px; */
            aspect-ratio: variables.$aspect-ratio-4_3;
            max-width: 100%;
            height: 200px;

            position: relative;
            img {
                width: 100%;
            }
            @include breakpoints.md {
                width: 50%;
                height: auto;
            }
            /*             @include breakpoints.lg {
                aspect-ratio: variables.$aspect-ratio-4_3;
            } */
        }

        .allText {
            text-align: left;
            padding: 0 10px;
            align-self: start;
            color: #fff;
            display: flex;
            flex-direction: column;

            .title {
                margin-bottom: 20px;
                //border-bottom: 2px solid #000;
                font-weight: bold;

                .text {
                    font-size: 18px;
                    @include utils.lhCrop($lh-height);
                    line-height: $lh-height;
                    margin-top: 10px;

                    @include breakpoints.sm {
                        font-size: 30px;
                        margin-top: 0;
                    }
                }
            }

            .textBlock {
                margin: 0 20px;
                .text {
                    font-size: 20px;
                }
            }
            .cta_btn {
                margin: 20px;

                a {
                    //background: red;
                    //padding: 20px;
                    color: #fff;
                    font-size: 15px;
                    font-weight: bold;

                    @include breakpoints.sm {
                        font-size: 25px;
                    }

                    &:after {
                        padding: 10px;
                        content: '>';
                        color: variables.$link-color;
                    }
                }
            }
        }

        //conditional classes
        &.bordered {
            //background-color: rgba(249, 247, 197, 0.502);
            background-color: #000;
            border: 5px solid #fff;
        }

        @include breakpoints.md {
            &.imageArticle {
                flex-direction: row;
            }

            &.imageArticle .allText {
                width: 50%;
                text-align: left;
                justify-content: start;
            }
        }
    }
}
