@use '../styles/utils.module.scss';
@use './styles/breakpoints.scss';
@use '../styles/variables.scss';
@use 'sass:math';
//Variables

.list_block {
    margin: 0 0.99206349%;
    padding: 3rem 2.6rem 2rem;
    clear: both;
    display: block;

    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    &.type_article:first-child {
        padding-top: 6.6rem;
    }

    .the_list_item {
        vertical-align: top;
        width: 100%;
        //font-size: 0;
        float: left;
        display: block;
        margin-bottom: 3rem;

        @media only screen and (max-width: 568px) {
            margin-bottom: 2rem;
        }

        .the_list_item_headline {
            font-size: 3rem;
            margin: 0 0 1rem;
            padding: 2rem 0 0;
            line-height: 1.125;
            font-weight: 700;

            @media only screen and (max-width: 568px) {
                font-size: 2rem;
                margin: 0 0 1.2rem;
                line-height: 1.25;
                padding: 1.4rem 0 0;
            }
        }

        .the_list_item_subheadline {
            font-size: 2rem;
            font-weight: 400;
            margin: 0 0 2rem;
            text-transform: uppercase;

            @media only screen and (max-width: 568px) {
                font-size: 1.4rem;
                font-weight: 400;
                margin: 0.4rem 0 0.8rem;
                text-transform: uppercase;
            }
        }

        .the_list_item_desc {
            font-size: 1.6rem;

            @media only screen and (max-width: 800px) {
                font-size: 1.2rem;
            }
        }

        .the_list_item_image {
            position: relative;
            width: 100%;
            aspect-ratio: math.div(3, 3);

            &.right {
                @media (min-width: 801px) {
                    width: 50%;
                    float: right;
                    margin: 0 0 10px 20px;
                    margin: 0 0 1rem 2rem;
                }
            }
            &.left {
                @media (min-width: 801px) {
                    width: 50%;
                    float: left;
                    margin: 0;
                    margin: 0 20px 10px 0;
                    margin: 0 2rem 1rem 0;
                }
            }
            //This query does not overrwrite styles above in .right/.left (had to include min width query in there
            @media only screen and (max-width: 800px) {
                width: 100%;
                float: none;
                margin: 0;
            }
        }

        &.the_list_item_right .the_list_item_headline,
        &.the_list_item_left .the_list_item_headline {
            @media (min-width: 801px) {
                padding: 0;
            }
        }
    }
    &.large {
        .the_list_item .the_list_item_headline {
            margin: 0 0 1rem;
            line-height: 1.125;
        }

        .the_list_item .the_list_item_desc {
            font-size: 1.6rem;
        }
    }

    &.the_list_item.right .the_list_item_headline {
        font-size: 30px;
        font-size: 3rem;
    }
    &.the_list_item.left .the_list_item_headline {
        font-size: 30px;
        font-size: 3rem;
    }
    &.square_1_1 .the_list_item_image {
        aspect-ratio: math.div(1, 1);
    }

    &.landscape_4_3 .the_list_item_image {
        aspect-ratio: math.div(4, 3);
    }
    &.landscape_3_2 .the_list_item_image {
        aspect-ratio: math.div(3, 2);
    }
    &.portrait_3_4 .the_list_item_image {
        aspect-ratio: math.div(3, 4);
    }
}
