@use 'sass:math';
@use './styles/breakpoints.scss';
@use './styles/utils.scss';
@use './styles/variables.scss';

.root {
    &.flex-mod {
        @include utils.flex-mod;
    }

    .wrapper {
        .link-wrap {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .item {
            width: variables.$full-width;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            position: relative;

            .item-wrap {
                padding: 1.5rem;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .content {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;

                    @include breakpoints.lg-min {
                        width: variables.$full-item-width;
                        margin-left: variables.$item-margins;
                        margin-right: variables.$item-margins;
                    }
                }
            }

            &.btn-only {
                .content {
                    justify-content: flex-end;
                }
            }

            @include breakpoints.sm-min {
                &.left .item-wrap,
                &.left .content {
                    flex-direction: row;
                    align-items: center;
                    text-align: left;
                }
            }

            &.yImg {
                .item-wrap {
                    position: relative;
                    background: var(--caption-background);
                }
            }
        }
    }

    text-align: center;

    &.well {
        .hd-block {
            max-width: 100%;
        }

        .item {
            box-shadow: 0 0 2px rgb(0 0 0 / 6%), 0 2px 4px rgb(0 0 0 / 12%);
        }
    }
}
