@use 'sass:math';
@use './styles/breakpoints.scss';
@use './styles/utils.scss';

@mixin tsFlex {
    display: -moz-flex;
    display: flex;
}

.root {
    //padding-top: 3rem;

    * {
        box-sizing: border-box;
    }

    .wrapper {
        //max-width: 75.5em;
        margin-left: auto;
        margin-right: auto;
        //padding: 0 1.5rem 1rem;
        padding: 1.5rem;

        .item {
            // margin-bottom: 2rem;
            width: utils.$full-width;
            margin-left: 0;
            margin-right: 0;

            .item-wrap {
                .txt-block {
                    .dsc {
                        width: 100%;
                    }
                }
            }
        }

        .image-block {
            margin: 0;
            margin-bottom: 0.5625em;
        }
    }

    &.tsflex {
        @include tsFlex;
        box-lines: multiple;
        flex-wrap: wrap;

        .wrapper {
            @include tsFlex;
            box-lines: multiple;
            flex-wrap: wrap;
            width: 100%;
        }

        .item {
            @include tsFlex;
            box-flex: 0;
            flex: 0 1 auto;
            align-self: stretch;
            -ms-flex-item-align: stretch;
            flex: 0 1 auto;
            align-self: stretch;
            box-orient: vertical;
            box-direction: normal;
            flex-direction: column;
            // margin-bottom: 2rem;
        }

        &.article_1,
        &.article_2 {
            .item-wrap {
                @include tsFlex;
                box-orient: vertical;
                box-direction: normal;
                flex-direction: column;
                box-flex: 1;
                flex: 1 1 auto;
            }
        }
    }

    /*     &.article_1,
    &.article_2 { */
    text-align: left;

    .right {
        text-align: right;
    }

    .center {
        text-align: center;
    }

    .dsc {
        font-size: utils.$xs-txt;
        margin-top: 1.1428571429em;
        margin-bottom: 1.1428571429em;
        line-height: 1.4285714286em;
    }

    &.root-container {
        container-type: inline-size;
        container-name: module;

        .item {
            container-type: inline-size;
            container-name: item;
        }
    }

    @container item (min-width:0px) {
        .dsc {
            font-size: utils.$xs-txt;
            margin-top: 1.1428571429em;
            margin-bottom: 1.1428571429em;
            line-height: 1.4285714286em;
        }
    }

    @container item (min-width:343px) {
        .dsc {
            font-size: utils.$xs-txt;
            margin-top: 1.1428571429em;
            margin-bottom: 1.1428571429em;
            line-height: 1.4285714286em;
        }

        /* .item {
            &.nHero:first-of-type {
                margin-top: 2rem;
            }
        } */
    }

    //for larger screens (starts at 1025)
    @container item (min-width:775px) {
        .dsc {
            font-size: utils.$sm-txt;
            margin-top: 0.9411764706em;
            margin-bottom: 0.9411764706em;
            line-height: 1.4117647059em;
        }

        &.article_2.not_well .yImg .txt-block {
            padding-top: 1.5rem;
        }
    }

    &.well {
        .hd-block,
        .txt-block {
            max-width: 100%;
        }

        .item {
            box-shadow: 0 0 2px rgb(0 0 0 / 6%), 0 2px 4px rgb(0 0 0 / 12%);

            &.yLk:hover {
                transition: all 0.1s ease-in-out;
                transform: scale(1.01);
                box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
            }
        }

        &.article_1 {
            .dsc-block,
            .hd-block {
                padding: 0 2rem 0;
                width: 100%;
            }

            .nDsc .hd-block,
            .dsc-block {
                padding-bottom: 1.5rem;
            }
        }

        &.article_2 {
            .hd-block {
                padding: 1rem 2rem;
                width: 100%;
            }

            .dsc-block {
                padding: 0 2rem 1.5rem;
            }

            .nDsc {
                .image-block {
                    margin-bottom: 0;
                    margin-top: auto;
                }
            }
        }

        &.article_3,
        &.article {
            .item-wrap {
                padding: 1.5rem;
            }

            @container item (min-width:637px) {
                .item-wrap {
                    padding: 3rem 2rem 2rem;
                }
            }

            @container item (min-width:775px) {
                .item-wrap {
                    padding: 2rem;

                    @include breakpoints.lg-min {
                        padding: 4rem 1.5rem;
                    }
                }
            }
        }
    }

    &.article {
        .hero {
            .item-wrap {
                padding: 1.5rem;
            }
        }
    }

    @container module (min-width:481px) {
        /*  &.col_1 .item:first-of-type {
            margin-top: 2rem;
        } */

        &.article_1,
        &.article_2,
        &.article_3 {
            .nHero {
                width: utils.$ten-12;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &.tsflex .item {
            //margin-bottom: 4rem;

            &:last-of-type &.col_1 {
                margin-bottom: 2rem;
            }
        }
    }
    @container item (min-width:343px) {
        @include breakpoints.sm-min {
            &.col_1 .wrapper .item,
            &.col_2 .wrapper .item {
                width: utils.$ten-12;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    //font sizes
    @include utils.text-sizes;

    //custom class test
    &.cst_hello {
        background-color: black;

        * {
            color: red !important;
        }
    }

    /*     &.grid {
        &:not(.col_1) {
            @include utils.grid;
        }
    } */

    &.item-flex {
        @include utils.item_flex;
    }
}
