@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

.root {
    z-index: 99999;
    position: fixed;
    top: 0;
    right: 0;

    .wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 20px;

        .burgerBtn {
            align-self: flex-end;

            button {
                background-color: transparent;
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }

            div {
                position: relative;
                width: 44px;
                height: 5px;
                border-radius: 3px;
                background-color: #fff;
                margin-top: 5px;
            }
        }
    }
}
