@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

.root {
    z-index: 99999;

    .wrapper {
        height: 100%;

        .burgerBtn {
            z-index: 9999999;

            div {
                position: relative;
                background-color: variables.$text-color-accent;

                width: 25px;
                height: 2px;
                border-radius: 3px;
                margin-top: 4px;

                @include breakpoints.sm {
                    width: 40px;
                    height: 4px;
                    border-radius: 3px;
                    margin-top: 5px;
                }
            }

            button {
                background-color: transparent;
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }
            &.navActive {
                div:first-of-type {
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transition: transform 0.5s ease-in-out;
                    top: 6px;

                    @include breakpoints.sm {
                        top: 11px;
                    }
                }

                div:nth-child(2) {
                    opacity: 0;
                }

                div:last-of-type {
                    transform: rotate(-5deg);
                    -webkit-transform: rotate(45deg);
                    transition: transform 0.5s ease-in-out;
                    top: -6px;

                    @include breakpoints.sm {
                        top: -6px;
                    }
                }
            }
        }
    }
}
