.root {
    .wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 20px;

        .burgerBtn {
            align-self: flex-end;

            div {
                position: relative;
                width: 44px;
                height: 5px;
                border-radius: 3px;
                background-color: #000;
                margin-top: 5px;
            }
        }
    }
}
