@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

$arrowSize: 30px;

.root {
    @include utils.root;

    .wrapper {
        max-width: variables.$max-main-width;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 0 30px 0;

        //padding: 10px 30px;

        //modifying before slider arrows
        /*         *:before {
            color: #000;
        } */

        @include breakpoints.sm {
            width: variables.$content-width;
            margin: 0 auto;
            //padding: 20px;
        }

        .slideItems {
            @include breakpoints.sm {
                //margin: 0 20px;
            }

            .item {
                display: flex;
                justify-content: center;
                align-items: center;

                .text {
                    padding-top: 0;
                    //max-width: 700px;
                    margin: 0 auto;
                    p {
                        font-style: italic;
                    }
                }
            }

            .imageTile {
                position: relative;
                aspect-ratio: variables.$aspect-ratio-4_3;
                /*                 border-right: 1px solid variables.$main-color;
                border-left: 1px solid variables.$main-color; */
            }
        }

        &.hasText {
            border-bottom: 4px solid variables.$label-color;
            //width: variables.$content-width;

            padding: 0 variables.$gap variables.$gap variables.$gap;

            .nextBtn {
                font-size: 20px;
                color: #000;
                line-height: auto;
                width: 100%;
                text-align: right;
                position: static;

                &:before {
                    display: none;
                }

                /*                 &:hover {
                    color: #000;
                } */
            }

            .prevBtn {
                display: none !important;
            }

            .nextBtn:before {
                color: #000;
            }

            .slick-arrow.slick-next.nextImageBtm {
                right: 0 !important;
            }

            .slideItems {
                margin: 15px auto;
                //max-width: 600px;

                .slick-next {
                    right: 0 !important;
                }
            }

            .slick-slider {
                button {
                    left: 0;

                    &:before {
                        color: #fff;
                    }
                }
            }
            /*             button.slick-arrow.slick-next {
                right: 0;

                &:before {
                    color: #fff;
                }
            } */
        }

        .imageBtns {
            z-index: 99999;
            height: $arrowSize;
            width: $arrowSize;

            @include breakpoints.sm {
                height: $arrowSize + 20px;
                width: $arrowSize;
                background-color: variables.$main-color;
            }

            &:before {
                color: #fff;
                font-size: $arrowSize;
                @include breakpoints.sm {
                    display: none;
                }
            }

            &.nextImageBtn {
                right: 0;
                @include breakpoints.sm {
                    clip-path: polygon(100% 50%, 0 0, 0 100%);
                    right: -$arrowSize;
                }
            }

            &.prevImageBtn {
                left: 0;
                @include breakpoints.sm {
                    clip-path: polygon(0 50%, 100% 0, 100% 100%);
                    left: -$arrowSize;
                }
            }
        }
    }
}
