@use './styles/breakpoints.scss';
@use './styles/variables.scss';
@use './styles/utils.scss';

.root {
    .wrapper {
        @include utils.wrapper-size(0);
        padding: 0 1.5rem;

        .content {
            display: flex;
            position: relative;
            padding: 0.5rem 0 0.5rem;
            padding-bottom: 1rem;
            flex-wrap: wrap;

            .item {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                display: flex;
                margin-left: 2.1220609456%;
                margin-right: 2.1220609456%;

                margin-bottom: 0;
                padding: 1.5rem 0 1rem;

                @include breakpoints.sm-min {
                    ul {
                        columns: 2;
                    }

                    ul li ul {
                        columns: 1;
                    }

                    div {
                        width: 100%;

                        ul {
                            width: 100%;
                        }
                    }
                }

                ul {
                    width: 100%;
                    columns: 3;
                }

                @include breakpoints.lg-min {
                    margin-left: 2.1220609456%;
                    margin-right: 2.1220609456%;
                    width: 29.0892114422%;

                    div {
                        width: 100%;
                        ul {
                            width: auto;
                        }
                    }
                }

                @include breakpoints.lg-min {
                    flex: 1;
                }
            }
        }
        .brand {
            .logo-block {
                img {
                    max-width: 6rem !important;
                    transition: all 0.3s ease-in-out;
                    height: auto;
                }

                @include breakpoints.sm-min {
                    margin-left: 2.1220609456%;
                    margin-right: 2.1220609456%;
                }
            }
            padding: 0.5rem 0 0.5rem;

            //temp
            border-bottom: 1px solid #1b1a1a;
        }

        .info-block {
            padding: 0.5rem 0 0.5rem;
            margin-left: 2.1220609456%;
            margin-right: 2.1220609456%;
            text-align: center;

            .copy {
                line-height: 1em;
            }

            @include breakpoints.sm-min {
                text-align: left;
            }
        }

        .nav-block,
        .social-block {
            //padding-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            padding: 0.5rem 0 0.5rem;
            max-width: variables.$wrap-max-width;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            text-align: center;

            @include breakpoints.sm-min {
                margin-left: 2.1220609456%;
                margin-right: 2.1220609456%;
                width: 45.7558781088%;
                text-align: left;
            }
        }

        .social-block {
            padding: 0;
            display: none;

            @include breakpoints.md-min {
                display: flex;
            }
        }

        .bottom {
            padding-top: 0.5rem;
            padding-bottom: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        span {
            font-size: 0.625em;
            margin-top: 0em;
            margin-bottom: 0em;
            line-height: 1.2em;
            display: inline-block;
            font-style: normal;
            padding: 0;
            line-height: 1.2em;
        }

        .copyright {
            flex: 1 1 auto;
            font-size: 0.625em;
            margin-top: 0em;
            margin-bottom: 0em;
            line-height: 1.2em;
            display: inline-block;
            font-style: normal;
            width: 100%;
        }
    }
}
