@use './styles/breakpoints.scss';
@use './styles/utils.scss';
@use './styles/variables.scss';

.root {
    .wrapper {
        max-width: 75.5em;
        margin: 0 auto;
        padding: 2rem 1rem;
        width: 79.0892114422%;
        margin-left: auto;
        margin-right: auto;

        .title,
        .message {
            width: 100%;
        }

        .title {
            font-size: 2.25em;
            margin-top: 0.6666666667em;
            margin-bottom: 0.4444444444em;
            line-height: 1.1111111111em;
            letter-spacing: -0.0125rem;
            padding-top: 1rem;
        }

        form {
            display: flex;
            flex-wrap: wrap;
        }

        .field {
            padding: 0 0.5rem 1rem;
            margin-bottom: 0.5rem;
            display: flex;
            flex-direction: column;
            width: 100%;

            @include breakpoints.sm-min {
                &.md {
                    width: 60%;
                }

                &.sm {
                    width: 50%;
                }
            }

            .field-err {
                padding-bottom: 0.5rem;
                color: red;
            }

            input {
                height: 2.5rem;
                font-size: 0.8125em;
                margin-top: 0em;
                margin-bottom: 0em;
                line-height: 1.2307692308em;
                margin-bottom: 0.25rem;
                border-radius: 2px;
                box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
                border-color: rgba(0, 0, 0, 0.15);
            }

            textarea {
                height: 7rem;
            }

            .req {
                padding-left: 1px;
                color: #b94a48;
                display: inline;
            }

            label {
                display: inline-block;
                padding-bottom: 0.5rem;
                font-size: 0.875em;
                margin-top: 0em;
                margin-bottom: 0em;
                line-height: 1.4285714286em;
            }
        }

        .btn-block {
            width: 100%;
            display: flex;
            //justify-content: flex-end;

            .submit {
                line-height: 1.4285714286em;
                padding: 0.5625em 2em 0.6875em;

                //from btn-wrap
                @include utils.basic-button;

                //btn_1
                @include utils.button-shadow;

                &:hover {
                    color: var(--btn-background);
                    background-color: var(--btn-txt);
                }

                &.landing {
                    @include utils.landing-btn;

                    span {
                        margin-right: 4px;
                    }

                    @include breakpoints.lg-min {
                        font-size: 1.6rem;
                        margin: 0 1rem;
                        padding: 0.4rem 1rem;
                    }

                    &:hover,
                    &:focus,
                    &:hover,
                    &:focus {
                        box-shadow: 0.2em 0.2em #cf0d0f;
                        transform: translateY(-0.25em);
                    }
                }
            }
        }

        .message-block {
            margin-top: 4rem;
            margin-bottom: 4rem;
            text-align: center;
            .message {
                padding: 1rem;
                font-size: 1.0625em;
                margin-top: 0.7058823529em;
                margin-bottom: 0.4705882353em;
                line-height: 1.1764705882em;
                text-align: center;

                &.blue {
                    color: blue;
                }

                &.red {
                    color: red;
                }

                &.green {
                    color: green;
                }
            }
        }
    }

    &.modal .wrapper {
        width: 100%;
        padding: 0;

        .field {
            &.md {
                width: 100%;
            }
        }

        .submit {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &.landing {
        padding-top: 3rem;
        padding-bottom: 3rem;

        .wrapper {
            background: var(--accent-background);
            border-radius: 1.5rem;
            padding: 1.5rem;
        }
        .title,
        label {
            color: var(--txt-accent);
        }

        .btn-block {
            .submit {
                background-color: var(--btn-background);
                color: #fff;
                margin: 0 0.3rem 0 0;
                text-transform: uppercase;
                border: none;
                transition: 0.25s;
                font-weight: normal;
                letter-spacing: 0.2px;
                border-radius: 50px;

                font-size: variables.$xs-txt;
                line-height: 1.4285714286em;
                padding: 0.625em 1.25em;

                @include breakpoints.md-min {
                    padding: 0.825em 2.25em;
                }

                &:hover {
                    background-color: var(--promo3);
                    color: #fff;
                }
            }
        }
    }
}
