@use 'sass:math';
@use './styles/breakpoints.scss';

.root {
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1009;
    position: sticky;
    display: flex;
    flex-direction: column;

    .cta-block {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        flex-basis: 100%;
        display: none;

        @include breakpoints.sm-min {
            display: block;
        }

        @include breakpoints.lg-min {
            margin-right: 2rem;
            flex-basis: 50%;
        }
    }
    &.landing {
        .cta-block {
            display: none;
            @include breakpoints.md-min {
                flex-basis: 60%;
            }

            @include breakpoints.md-min {
                display: block;
            }
        }
    }

    .cta-block.mobile-cta-block {
        display: block;

        @include breakpoints.md-min {
            display: none;
        }
    }

    .wrapper {
        display: flex;
        padding: 1rem 0.5rem;
        width: 100%;
        position: relative;
        z-index: 1009;
        align-items: center;

        .logo-block {
            flex: 1 1 auto;
            align-items: center;

            * {
                transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
            }

            @include breakpoints.lg-min {
                padding: 0 0.5rem;
            }

            .logo-item {
                position: relative;
                height: 100%;

                img {
                    max-height: 6rem;
                    transition: all 0.2s linear;

                    @include breakpoints.lg-min {
                        max-height: 8.75rem;
                    }
                }
            }

            &.desktop {
                display: none;

                @include breakpoints.lg-min {
                    display: flex;
                    gap: 15px;
                }
            }

            &.mobile {
                display: block;

                @include breakpoints.lg-min {
                    display: none;
                }

                &.center {
                    text-align: center;
                }

                &.right {
                    text-align: center;
                }
            }
        }
    }

    &.shrink {
        .wrapper {
            padding: 0.5rem;

            img {
                max-height: 3.75rem !important;
                //width: 100%;
            }
        }
    }

    &.reverse-head {
        flex-direction: column-reverse;
    }

    &.landing {
        .wrapper {
            padding: 0.5rem;
            //max-height: 4rem;

            .logo-block {
                flex-basis: 39%;

                .logo-item {
                    width: 100%;
                }
            }

            .logo-block img {
                @include breakpoints.md-min {
                    max-width: 17rem;
                    max-height: 10rem;
                    width: auto;
                    height: 10rem;
                    object-fit: contain;
                }
            }
        }

        &.shrink {
            @include breakpoints.md-min {
                .wrapper {
                    img {
                        max-height: 8rem !important;
                        height: 8rem;
                        //width: 100%;
                        max-width: 11rem;
                    }
                }
            }
        }
    }
}
