@use 'sass:math';
@use './styles/breakpoints.scss';

.root {
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1009;
    position: sticky;
    display: flex;
    flex-direction: column;

    .cta-block {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        flex-basis: 100%;

        @include breakpoints.lg-min {
            margin-right: 2rem;
            flex-basis: 50%;
        }
    }

    .wrapper {
        display: flex;
        padding: 1rem 0.5rem;
        width: 100%;
        position: relative;
        z-index: 1009;
        align-items: center;

        .logo-block {
            flex: 1 1 auto;
            flex-basis: auto;
            align-items: center;

            @include breakpoints.lg-min {
                padding: 0 0.5rem;
            }

            .logo-item {
                position: relative;
                height: 100%;

                img {
                    max-width: 6rem;
                    height: auto;
                    transition: all 0.3s ease-in-out;

                    @include breakpoints.lg-min {
                        //max-width: 13rem;
                        max-width: 8.75rem;
                    }
                }
            }
            @include breakpoints.lg-min {
                &.one-logo .logo-item img {
                    max-width: 13rem;
                }

                &.two-logos .logo-item img {
                    max-width: 10rem;
                }
            }

            &.desktop {
                display: none;

                @include breakpoints.lg-min {
                    display: flex;
                    gap: 15px;
                }
            }

            &.mobile {
                display: block;

                @include breakpoints.lg-min {
                    display: none;
                }

                &.center {
                    text-align: center;
                }

                &.right {
                    text-align: center;
                }
            }
        }
    }

    &.shrink {
        .wrapper {
            padding: 0.5rem;

            img {
                max-width: 6rem !important;
                width: 100%;
            }
        }
    }

    &.reverse-head {
        flex-direction: column-reverse;
    }
}
