@use '../styles/breakpoints.scss';

.root {
    width: 100%;

    .wrapper {
        display: flex;
        flex-direction: column;
        background-color: #000;
        padding: 10px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-align: center;
        }

        .text {
            color: #fff;
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
        }

        .features {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            /*             @include breakpoints.md {
                flex-wrap: nowrap;
            } */

            a {
                border: 5px solid #fff;
                font-weight: bold;
                padding: 20px;
                color: #fff;
                margin: 10px 20px;
                width: 100%;
                text-align: center;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-basis: 17%;

                &:hover {
                    background-color: #fff;
                    color: #000;
                }
            }

            i {
                font-size: 30px;
                padding: 8px;
            }
        }
    }
}
