@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

.root {
    @include utils.root;

    .wrapper {
        display: flex;
        gap: 40px;
        max-width: variables.$max-main-width;
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: wrap;

        @include breakpoints.sm {
            width: variables.$content-width;
        }

        @include breakpoints.md {
            flex-direction: row;
        }

        .block {
            flex-grow: 1;
            box-sizing: border-box;
            padding: 0 variables.$gap;
            width: 100%;

            @include breakpoints.sm {
                padding: 0;
            }

            @include breakpoints.md {
                padding: 0;
                flex-basis: 28%;
            }

            .imageTile {
                position: relative;
                aspect-ratio: variables.$aspect-ratio-16_9;
                width: 100%;
            }

            .textBlock {
                .cta_btn {
                    @include utils.cta_btn;
                }

                .title {
                    margin: 0;
                }

                .text {
                    margin: 10px 0;
                }
            }

            &.left {
                .textBlock .text,
                .title,
                .cta_btn {
                    text-align: left;
                }
            }

            &.right {
                .textBlock .text,
                .title,
                .cta_btn {
                    text-align: right;
                }
            }

            &.center {
                .textBlock .text,
                .title,
                .cta_btn {
                    text-align: center;
                }
            }

            &.sm {
                .textBlock .text,
                .cta_btn {
                    @include utils.text-sizes-sm;
                }

                .textBlock .title {
                    @include utils.headline-sizes-sm;
                }
            }
            &.md {
                .textBlock .text,
                .cta_btn {
                    @include utils.text-sizes-md;
                }

                .textBlock .title {
                    @include utils.headline-sizes-md;
                }
            }
            &.lg {
                .textBlock .text,
                .cta_btn {
                    @include utils.text-sizes-lg;
                }

                .textBlock .title {
                    @include utils.headline-sizes-lg;
                }
            }

            &.bordered {
                //background-color: variables.$altColor;
                padding: variables.$gap;

                .cta_btn {
                    & > a:after {
                        color: #fff;
                    }
                }
            }

            &.imageArticle {
                .textBlock {
                    .title {
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}
