@use '../styles/utils.module.scss';
@use '../styles/breakpoints.scss';
@use '../styles/variables.scss';
@use 'sass:math';

//Setting max-widths on blocks based on content max-width
$main-block-max: (variables.$max-main-width * 0.75);
$sm-block-max: (variables.$max-main-width * 0.25);

.root {
    @include utils.root;
    /*used for testing |  border-bottom: 30px solid variables.$mainColor; test deploy limit */

    .wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: 200px;
        width: 100%;
        position: relative;
        flex-direction: column;

        @include breakpoints.xs {
            flex-direction: row;
        }

        @include breakpoints.sm {
            height: 300px;
        }

        .gutter {
            flex: 10 0 0;
            //background-color: variables.$mainColor;
            height: 100%;
            display: none;
            max-width: 100%;

            @include breakpoints.md {
                display: block;
            }
        }

        .heroImage {
            position: relative;
            height: 100%;
            flex: 50 0 0;
            max-width: $main-block-max;

            @include breakpoints.md {
                flex: 60 0 0;
            }
        }

        .headline {
            display: flex;
            justify-content: center;
            align-items: center;
            //background-color: variables.$mainColor;
            height: 100%;
            flex: 50 0 0;
            z-index: 9;

            max-width: 100%;
            @include breakpoints.md {
                max-width: $sm-block-max;
            }

            @include breakpoints.md {
                flex: 20 0 0;
            }

            .backgroundBlock {
                .text {
                    font-weight: bold;
                    z-index: 9999999;
                    // color: #fff;
                    font-size: variables.$text-size-head-xsm;
                    text-align: center;
                    position: absolute;
                    @include utils.headline-sizes-sm;
                    @include breakpoints.md {
                        padding: 10px;
                    }
                }
            }
        }

        //background image block
        .backgroundBlock {
            z-index: 999;
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                opacity: 0.2;
            }
        }

        //option for reversed format
        &.reverse {
            //flex-direction: column;
            @include breakpoints.xs {
                flex-direction: row-reverse;
            }
        }

        //alternate layout on mobile
        &.altLayout {
            flex-direction: column;
            @include breakpoints.md {
                flex-direction: row;
            }
            .gutter_alt {
                display: block;
            }
        }
    }
}
