@use '../styles/utils.module.scss';
@use '../styles/breakpoints.scss';
@use '../styles/variables.scss';

.root {
    @include utils.root;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        height: 350px;
        width: 100%;
        max-width: variables.$max-main-width;

        @include breakpoints.md {
            width: 80%;
        }

        .headline {
            color: #fff;
            position: absolute;
            z-index: 9999999;
            font-size: 30px;
            font-weight: bold;
        }
    }
}
