@use '../styles/variables.scss';
@use '../styles/breakpoints.scss';

$textColor: rgb(104, 104, 104);

.root {
    width: 100%;
    //margin-bottom: 10px;

    .wrapper {
        width: 100%;
        max-width: variables.$max-main-width;

        @include breakpoints.sm {
            width: variables.$content-width;
        }

        margin: 0 auto;

        .headline {
            .text {
                font-size: 25px;
                width: 100%;
                padding: 20px;
                margin: 0;
                color: $textColor;
                text-transform: uppercase;
                text-align: left;

                @include breakpoints.sm {
                    font-size: 40px;
                }
            }

            &.bordered {
                border-bottom: 4px solid $textColor;
            }
        }
    }
}
