@use '../styles/variables.scss';
@use '../styles/breakpoints.scss';
@use '../styles/utils.module.scss';

.root {
    width: 100%;
    margin-bottom: variables.$gap;

    .wrapper {
        max-width: variables.$max-main-width;
        margin: 0 auto;
        width: 100%;
        margin-top: 10px;

        @include breakpoints.sm {
            width: variables.$content-width;
        }

        .headline {
            width: 100%;
            box-sizing: border-box;

            .text {
                margin: 0;
                //color: variables.$label-color;
                text-transform: uppercase;
                padding-left: variables.$gap;

                @include breakpoints.sm {
                    padding-left: 0;
                }

                &.center {
                    text-align: center;
                }

                &.left {
                    text-align: left;
                }

                &.right {
                    text-align: right;
                }

                &.sm {
                    @include utils.headline-sizes-sm;
                }

                &.md {
                    @include utils.headline-sizes-md;
                }

                &.lg {
                    @include utils.headline-sizes-lg;
                }
            }

            /*             &.bordered {
                border-bottom: 4px solid variables.$label-color;
            } */

            &.gap {
                width: 90%;
                margin: 0 auto;
                @include breakpoints.sm {
                    padding: variables.$gap;
                    width: 100%;
                }

                .text {
                    padding-left: 0;
                }
            }
        }
    }
}
