@use '../styles/variables.scss';
@use '../styles/breakpoints.scss';
@use '../styles/utils.module.scss';

$textColor: rgb(104, 104, 104);

.root {
    width: 100%;
    margin-bottom: 10px;

    .wrapper {
        width: variables.$content-width;
        max-width: variables.$max-main-width;
        margin: 0 auto;

        @include breakpoints.sm {
            width: variables.$content-width;
        }

        .headline {
            .text {
                width: 100%;
                margin: 0;
                color: variables.$label-color;
                text-transform: uppercase;

                &.center {
                    text-align: center;
                }

                &.left {
                    text-align: left;
                }

                &.right {
                    text-align: right;
                }

                &.sm {
                    @include utils.headline-sizes-sm;
                }

                &.md {
                    @include utils.headline-sizes-md;
                }

                &.lg {
                    @include utils.headline-sizes-lg;
                }
            }

            &.bordered {
                border-bottom: 4px solid $textColor;
            }

            &.gap {
                @include breakpoints.sm {
                    padding: 20px;
                }
            }
        }
    }
}
