@use '../styles/utils.module.scss';
@use './styles/breakpoints.scss';
@use '../styles/variables.scss';
@use 'sass:math';

.root {
    &.layout1 {
        padding-top: variables.$layout-padding-4;
        @media (min-width: 500px) {
            padding-top: variables.$layout-padding-3;
        }

        @media (min-width: 500px) {
            padding-top: variables.$layout-padding-2;
        }
        @media (min-width: 920px) {
            padding-top: variables.$layout-padding;
        }
    }
}
