@use '../styles/utils.module.scss';
@use './styles/breakpoints.scss';
@use '../styles/variables.scss';
@use 'sass:math';

$lh-height: 1.3;
$margin-text: 20px;

@mixin cta_btn {
    margin-top: $margin-text;

    a {
        font-weight: bold;

        &:after {
            padding: 10px;
            content: '>';
            color: variables.$link-color;
        }
    }
}

@mixin features {
    display: flex;
    flex-direction: column;
    @include breakpoints.md {
        flex-direction: row;
    }
}

@mixin article {
    .wrapper {
        max-width: variables.$max-main-width;
        margin: 15px auto;

        @include breakpoints.md {
            width: variables.$content-width;
            margin: 15px auto;
        }

        .features {
            padding: 30px;
            width: 100%;
            @include features;
            box-sizing: border-box;
            align-items: center;

            .imageBlock {
                position: relative;
                width: 100%;
                max-width: 100%;
                height: 100%;
                align-self: flex-start;
                display: none;

                img {
                    width: 100%;
                }
                @include breakpoints.md {
                    width: 50%;
                    height: auto;
                }
                /*             @include breakpoints.lg {
                aspect-ratio: variables.$aspect-ratio-4_3;
                aspect-ratio: variables.$aspect-ratio-4_3;
            } */
            }

            .allText {
                //text-align: center;
                padding: 0 10px;
                align-self: flex-start;
                display: flex;
                flex-direction: column;
                color: variables.$text-color-main;

                /*                 @include breakpoints.md {
                    width: 50%;
                } */

                .title {
                    // text-align: left;
                    margin-bottom: $margin-text;

                    @include breakpoints.md {
                        margin-left: $margin-text;
                    }

                    .text {
                        @include utils.lhCrop($lh-height);
                        line-height: $lh-height;
                        margin-top: 30px;
                        @include breakpoints.md {
                            margin-top: 0;
                        }
                        //@include headline-sizes;
                    }
                }

                .textBlock {
                    margin: 0 $margin-text;
                }

                .cta_btn {
                    @include cta_btn;
                }
            }

            //conditional classes
        }
        &.bordered {
            //background-color: rgba(249, 247, 197, 0.502);
            background-color: #000;
            //border: 5px solid #fff;

            * {
                color: #fff;
            }
        }

        /*             &.imageArticle {
                flex-direction: row;
            } */
        &.imageArticle {
            .imageBlock {
                display: block;
            }

            .allText {
                //text-align: left;
                justify-content: flex-start;
                @include breakpoints.md {
                    width: 50%;
                }
            }
        }

        &.reverse .features {
            @include breakpoints.md {
                flex-direction: row-reverse;
            }
        }

        /* &.noImg {
             .imageBlock {
                display: none;
            } 

            .allText {
                // width: 100%;
            }
        } */
    }
}

/*-----------------------------CARD----------------------*/
//Variables
$ratio: math.div(4, 3);

//Setting image sizes
$image-width-percentage: 25%;
$image-width-decimal: 0.25;
$image-width: #{$image-width-decimal * 100}vw;
$image-height: $image-width / $ratio;

//Content width and max-size of content
//$content-width: 80%;
//$max-main-width: 1200px;

//Image and content size calculations
$img-height-max: math.div($image-width-decimal * variables.$max-main-width, $ratio);
$max-main-image-width: variables.$max-main-width * $image-width-decimal;
$max-main-content-width: variables.$max-main-width * (1 - $image-width-decimal);

@mixin card {
    .wrapper {
        .title {
            @include breakpoints.md {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .textGutter {
                flex: 10 0 0;
            }

            .insideTextGutter {
                flex: 20 0 0;
                max-width: $max-main-image-width;
            }

            .titleText {
                display: flex;
                align-self: flex-start;

                @include breakpoints.md {
                    //text-align: left;
                    align-self: flex-start;
                    flex: 60 0 0;
                    max-width: $max-main-content-width;
                }

                .text {
                    color: variables.$text-color-main;
                    padding: 20px;
                    width: 100%;

                    @include breakpoints.md {
                        margin-left: auto;
                        padding: 0px 0px 0px 20px;
                        flex: 60 0 0;
                    }
                }
            }
        }
        .features {
            @include features;

            .colorBlock {
                flex: 10 0 0;
                display: none;
                @include breakpoints.md {
                    display: block;
                }

                .colorFill {
                    background-color: variables.$main-color;
                    aspect-ratio: math.div($ratio, 2);
                    height: $image-height;
                }
            }

            .imageBlock {
                @include breakpoints.md {
                    flex: 20 0 0;
                    background-color: variables.$main-color;
                    align-self: flex-start;
                    max-width: $max-main-image-width;
                    width: $image-width;
                }
                .blockPicture {
                    width: 100%;
                    position: relative;

                    @include breakpoints.md {
                        aspect-ratio: $ratio;
                    }

                    img {
                        width: 100% !important;
                        object-fit: cover;

                        @include breakpoints.md {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

            .textBlock {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                max-width: $max-main-content-width;

                @include breakpoints.md {
                    flex: 60 0 0;
                    position: relative;
                }

                .text {
                    padding-top: 0;
                    padding: 20px;
                    @include breakpoints.md {
                        line-height: $lh-height;
                        @include utils.lhCrop($lh-height); //line-height: 1.2
                        padding: 0;
                        padding-left: 20px;
                    }
                }

                .cta_btn {
                    @include cta_btn;
                    color: variables.$text-color-main;
                    padding-left: 20px;
                    @include breakpoints.md {
                        margin-left: 20px;
                        padding: 0;
                    }
                }
            }
        }
        &.bordered .textBlock {
            background-color: #000;
            color: #fff;

            .text {
                padding: 20px;
                // color: #fff;
            }
            .cta_btn {
                padding-bottom: 20px;
                color: #fff;
            }
        }

        &.reverse .features,
        &.reverse .title {
            @include breakpoints.md {
                flex-direction: row-reverse;
            }
        }

        @include breakpoints.custom(math.div(variables.$max-main-width, math.div(variables.$content-width, 100%))) {
            .features .colorBlock .colorFill {
                height: $img-height-max;
                aspect-ratio: auto;
            }
        }
    }

    &:nth-child(even) {
        @include breakpoints.md {
            .title {
                flex-direction: row-reverse;
            }
        }
    }

    &:nth-child(even) .features {
        @include breakpoints.md {
            flex-direction: row-reverse;
        }
    }
}

.root {
    @include utils.root;

    &.articleLayout {
        @include article;
    }

    &.cardLayout {
        @include card;
    }

    &.left {
        .textBlock .text,
        .titleText .text,
        .title .text,
        .allText,
        .cta_btn {
            text-align: left;
        }
    }

    &.right {
        .textBlock .text,
        .titleText .text,
        .title .text,
        .allText,
        .cta_btn {
            text-align: right;
        }
    }

    &.center {
        .textBlock .text,
        .titleText .text,
        .title .text,
        .allText,
        .cta_btn {
            text-align: center;
        }
    }

    &.sm {
        .textBlock .text,
        .cta_btn {
            @include utils.text-sizes-sm;
        }

        .titleText .text,
        .title .text {
            @include utils.headline-sizes-sm;
        }
    }
    &.md {
        .textBlock .text,
        .cta_btn {
            @include utils.text-sizes-md;
        }

        .titleText .text,
        .title .text {
            @include utils.headline-sizes-md;
        }
    }
    &.lg {
        .textBlock .text,
        .cta_btn {
            @include utils.text-sizes-lg;
        }

        .titleText .text,
        .title .text {
            @include utils.headline-sizes-lg;
        }
    }
}
