@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.scss';

.root {
    .wrapper {
        .logo {
            width: 100%;
            position: relative;

            img {
                max-width: 100%;
                height: auto;
                width: auto;
            }
        }
    }
}
