@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

.root {
    .wrapper {
        .logo {
            width: 100%;
            position: relative;
            height: 100%;

            img {
                width: auto;
                max-height: 60px;

                @media (min-width: 620px) {
                    max-height: 90px;
                }
            }
        }
    }
}
