@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

.root {
    .wrapper {
        .logo {
            width: 100%;
            position: relative;
            height: 100%;

            img {
                width: auto;
                max-height: 30px;
                padding: 10px !important;

                @media (min-width: 312px) {
                    max-height: variables.$logo-size-2 !important;
                }

                @media (min-width: 620px) {
                    max-height: variables.$logo-size !important;
                }
            }
        }
    }
}
