@use './styles/breakpoints.scss';
@use './styles/utils.scss';
@use './styles/variables.scss';

.root {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    padding: 2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: all 0.7s cubic-bezier(1, 0, 0, 1);
    opacity: 1;
    z-index: 1011;

    //
    //display: none;

    .wrapper {
        top: -100%;
        background-color: rgba(16, 37, 46, 1);
        color: rgba(237, 237, 223, 1);
        margin: 0 auto;
        position: relative;
        max-width: 30rem;
        transition: all 0.7s cubic-bezier(1, 0, 0, 1);

        .title-block {
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            padding: 1rem 1rem;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                margin: 0;
                font-weight: 700;
            }
        }

        .list {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            padding: 0.5rem 1rem;

            ul {
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                padding: 0;
                list-style-type: none;
                margin: 0;
            }
        }

        .item {
            &.left {
                text-align: left;
            }
            &.right {
                text-align: right;
            }
            &.center {
                text-align: center;
            }
        }
    }

    &.site-modal {
        .wrapper {
            background-color: var(--header-background);
            max-width: 48.3333333333em;
            //max-height: 70vh;
            overflow: auto;

            .modal-body {
                padding: 2rem 6rem;
                max-height: 70vh;
                overflow: auto;
            }
        }

        .title {
            background: var(--promo);
            padding: 0.9rem 0.7rem;
            font-weight: bold;
            color: var(--hero-btn-txt);
        }

        img {
            max-width: 25rem;
        }
    }

    &.show {
        visibility: visible;
        display: block;

        &.contact {
            .wrapper {
                top: 10%;
            }
        }

        &.site-modal {
            padding: 0;
            @include breakpoints.md-min {
                padding: 2rem;
            }
            .wrapper {
                top: 0;
                @include breakpoints.md-min {
                    top: 10%;
                }
            }
        }
    }
    &.hide {
        visibility: hidden;
    }
}
