@use './styles/breakpoints.scss';

.root * {
    color: #fff;

    div {
        padding-top: 1rem;
    }

    .copy,
    .nav-block,
    .social-block {
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        padding: 0.5rem 0 0.5rem;

        //inner div
        max-width: 75.5em;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.5rem;

        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @include breakpoints.sm-min {
            margin-left: 2.1220609456%;
            margin-right: 2.1220609456%;
            width: 45.7558781088%;
        }
    }

    .bottom {
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        display: flex;
    }

    span {
        font-size: 0.625em;
        margin-top: 0em;
        margin-bottom: 0em;
        line-height: 1.2em;
        display: inline-block;
        font-style: normal;
        padding: 0;
        line-height: 1.2em;
    }

    .copyright {
        flex: 1 1 auto;
        font-size: 0.625em;
        margin-top: 0em;
        margin-bottom: 0em;
        line-height: 1.2em;
        display: inline-block;
        font-style: normal;
        padding: 0;

        //add
        width: 100%;
    }
}
