@use './styles/breakpoints.scss';

.root {
    .wrapper {
        max-width: 75.5em;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.5rem;

        .content {
            display: flex;
            position: relative;
            padding: 0.5rem 0 0.5rem;
            padding-bottom: 1rem;
            margin-left: 2.1220609456%;
            margin-right: 2.1220609456%;
            flex-wrap: wrap;

            .item {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                display: flex;

                margin-bottom: 0;
                padding: 1.5rem 0 1rem;

                @include breakpoints.sm-min {
                    margin-left: 2.1220609456%;
                    margin-right: 2.1220609456%;
                    width: 29.0892114422%;
                }

                @include breakpoints.lg-min {
                    flex: 1;
                }
            }
        }
        .brand {
            .logo-block {
                img {
                    //max-width: 8.75rem !important;
                    max-width: 6rem !important;
                    transition: all 0.3s ease-in-out;
                    height: auto;
                }

                @include breakpoints.sm-min {
                    margin-left: 2.1220609456%;
                    margin-right: 2.1220609456%;
                }
            }
            padding: 0.5rem 0 0.5rem;

            //temp
            border-bottom: 1px solid #1b1a1a;
        }

        .copy,
        .nav-block,
        .social-block {
            padding-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            padding: 0.5rem 0 0.5rem;
            //padding-top: 1rem;

            //inner div
            max-width: 75.5em;
            margin-left: auto;
            margin-right: auto;
            //padding: 0 1.5rem;

            display: flex;
            flex-wrap: wrap;
            width: 100%;
            text-align: center;

            @include breakpoints.sm-min {
                margin-left: 2.1220609456%;
                margin-right: 2.1220609456%;
                width: 45.7558781088%;
                text-align: left;
            }
        }

        .social-block {
            padding: 0;
        }

        .bottom {
            padding-top: 0.5rem;
            padding-bottom: 1.5rem;
            display: flex;
            flex-wrap: wrap;
        }

        span {
            font-size: 0.625em;
            margin-top: 0em;
            margin-bottom: 0em;
            line-height: 1.2em;
            display: inline-block;
            font-style: normal;
            padding: 0;
            line-height: 1.2em;
        }

        .copyright {
            flex: 1 1 auto;
            font-size: 0.625em;
            margin-top: 0em;
            margin-bottom: 0em;
            line-height: 1.2em;
            display: inline-block;
            font-style: normal;
            padding-top: 1rem;

            //add
            width: 100%;
        }
    }
}
