@use 'sass:math';
@use './styles/breakpoints.scss';

.root {
    // position: sticky;
    position: fixed;
    top: 0%;
    width: 100%;
    margin: 0;
    z-index: 1009;
    display: block;

    .wrapper {
        display: flex;
        padding: 1rem 0.5rem;
        width: 100%;
        position: relative;
        z-index: 1009;

        align-items: center;

        .logo-block {
            position: relative;
            height: 100%;
            flex: 1 1 auto;
            flex-basis: auto;

            @include breakpoints.lg-min {
                padding: 0 0.5rem;
            }

            img {
                max-width: 6rem !important;
                height: auto;
                transition: all 0.3s ease-in-out;

                @include breakpoints.lg-min {
                    max-width: 13rem !important;
                }
            }

            &.desktop-logo-block {
                display: none;

                @include breakpoints.lg-min {
                    display: block;
                }
            }

            &.mobile-logo-block {
                display: block;

                @include breakpoints.lg-min {
                    display: none;
                }

                &.center {
                    text-align: center;
                }

                &.right {
                    text-align: center;
                }
            }
        }
    }

    .social-bar {
        box-shadow: 0 2px 2px 1px rgb(0 0 0 / 20%);
        padding: 0 1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .contact {
            flex: 1 0 70%;

            ul {
                font-size: 100%;
                letter-spacing: 0.1em;
                text-align: right;
                width: 100%;
                margin: 0.25rem 0;
                list-style-type: none;
                padding: 0;

                @media (max-width: 850px) {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                li {
                    display: inline-block;
                    text-transform: uppercase;

                    a {
                        font-size: 0.6875em;
                        line-height: 1.0909090909em;
                        border-radius: 2px;
                        font-weight: 400;
                        margin-top: 0.25em;
                        margin-bottom: 0.25em;
                        padding: 0.375em 1em 0.4375em;
                        display: inline-block;
                        vertical-align: text-bottom;
                        text-align: center;
                        vertical-align: middle;

                        svg {
                            width: 0.7em;
                            display: inline;
                            margin-right: 0.3em;
                            font-size: 130%;
                        }
                    }
                }

                .icon {
                    font-size: 100%;
                    letter-spacing: 0.1em;
                    margin: 0;
                }
            }
        }
    }

    &.shrink {
        .wrapper {
            padding: 0.5rem;

            img {
                // max-width: 4.5rem !important;
                max-width: 6rem !important;
            }
        }
    }
}
