@use 'sass:math';
@use './styles/breakpoints.scss';

.root {
    position: fixed;
    top: 0%;
    width: 100%;
    margin: 0;
    z-index: 1009;

    //header
    display: block;

    //temp
    background: black;

    .wrapper {
        display: flex;
        padding: 1rem 0.5rem;
        width: 100%;
        position: relative;
        z-index: 1009;

        align-items: center;

        //grid attempt
        /*         display: grid;

        grid-template-columns: 2fr 1fr 1fr;

        @media (min-width: 270px) {
            grid-template-columns: 2fr 2fr 1fr;
        }

        @media (min-width: 530px) {
            grid-template-columns: 1.2fr 3fr 1fr;
        }

        @media (min-width: 1025px) {
            grid-template-columns: 1.4fr 9fr 1fr;
        } */

        //non grid
        //display: flex;

        .logo-block {
            //flex: 1 1 auto;
            position: relative;
            //not sure why I need to specify this width
            //width: 100%;
            height: 100%;

            //flex
            flex: 1 1 auto;

            flex-basis: auto;

            @include breakpoints.lg-min {
                padding: 0 0.5rem;
            }

            /* span {
                img {
                    height: 100% !important;
                    min-width: 0 !important;
                    width: auto !important; 
                    // margin-left: 0 !important;
                }
            } */

            span {
                max-width: 8.75rem !important;
                transition: all 0.3s ease-in-out;
            }

            &.desktop-logo-block {
                display: none;

                @include breakpoints.lg-min {
                    display: block;
                }
            }

            &.mobile-logo-block {
                display: block;

                @include breakpoints.lg-min {
                    display: none;
                }
            }
        }

        .access {
            /* flex: 1 1 100%; */
            /*             grid-column-start: 2;
            grid-column-end: 8; */

            //flex
            flex: 1 1 100%;

            display: flex;
            align-items: center;

            //temp
            color: #fff;

            .menu {
                font-size: 0.8125em;
                margin-top: 0.9230769231em;
                margin-bottom: 0.9230769231em;
                line-height: 1.5384615385em;
                margin: 0;
                list-style-type: none;
                padding: 0;

                li {
                    display: inline-block;
                    position: relative;

                    //sf-menu li

                    letter-spacing: 0.05em;
                    //font-weight: bold;

                    a {
                        display: block;
                        padding: 0.75rem 0.5rem;
                        width: 100%;
                        cursor: pointer;
                    }
                }

                li > .sub-menu {
                    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    padding-top: 2rem;
                    -webkit-transition: all 0.4s ease-in-out;
                    -moz-transition: all 0.4s ease-in-out;
                    transition: all 0.4s ease-in-out;
                    max-height: 70vh;
                    overflow-y: auto;

                    //
                    margin: 0;
                    z-index: 300;
                    font-size: 90%;

                    min-width: 100%;
                    padding: 1rem 1rem 0.5rem 0;

                    background: rgba(16, 37, 46, 1);

                    a {
                        padding: 0.25rem 0.5rem;
                    }
                }

                li:hover > .sub-menu:first-of-type {
                    opacity: 1;
                    visibility: visible;
                    padding-top: 1rem;
                }

                &.desktop-nav {
                    display: none;

                    @include breakpoints.lg-min {
                        display: block;
                    }

                    li {
                        text-transform: uppercase;
                    }
                }

                ul {
                    padding: 0 0 0 0.5rem;
                }

                &.mobile-nav {
                    font-size: 0.875rem;

                    li {
                        margin: 1rem 0;
                        font-weight: 700;

                        a {
                            border-radius: 2px;
                            display: inline-block;
                            outline: 0;
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }

        .nav-open {
            @include breakpoints.lg-min {
                display: none;
            }

            //flex
            //flex: 0 1 3rem;

            background: transparent;

            padding: 0 0.5rem;
            text-align: center;
            letter-spacing: 0.1em;
            visibility: visible;
            opacity: 1;
            max-width: initial;

            cursor: pointer;

            //temp
            color: rgba(237, 237, 223, 1);

            // &:before {
            //font-family: "tsi-cms";
            //content: "a";
            //content: 'O';
            font-size: 1.5em;
            margin-top: 0.6666666667em;
            margin-bottom: 0.5em;
            line-height: 1.1666666667em;
            letter-spacing: -0.0125rem;
            font-weight: 400;
            vertical-align: middle;
        }
    }

    .social-bar {
        box-shadow: 0 2px 2px 1px rgb(0 0 0 / 20%);
        padding: 0 1rem;
        width: 100%;

        background-color: #12343d;

        display: flex;
        flex-wrap: wrap;

        align-items: center;

        .contact {
            flex: 1 0 70%;

            ul {
                font-size: 100%;
                letter-spacing: 0.1em;
                text-align: right;
                width: 100%;
                margin: 0.25rem 0;

                //other
                list-style-type: none;
                padding: 0;

                //I added
                @media (max-width: 850px) {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                li {
                    display: inline-block;
                    text-transform: uppercase;

                    a {
                        font-size: 0.6875em;
                        line-height: 1.0909090909em;
                        border-radius: 2px;
                        font-weight: 400;
                        margin-top: 0.25em;
                        margin-bottom: 0.25em;
                        padding: 0.375em 1em 0.4375em;
                        display: inline-block;
                        vertical-align: text-bottom;
                        text-align: center;

                        //temp
                        &:hover {
                            background-color: #009374;
                        }
                    }
                }

                .phone {
                    font-size: 100%;
                    letter-spacing: 0.1em;
                    //width: 100%;
                    margin: 0.25rem 0;

                    //temp
                    color: #fff;
                }
            }
        }

        .social-media-links {
            display: none;
            @include breakpoints.md-min {
                display: block;
            }
        }
    }

    &.shrink {
        .wrapper {
            //border: 10px solid red;
            // grid-template-columns: 0.8fr 9fr 1fr;

            padding: 0.5rem;

            span {
                max-width: 4.5rem !important;
            }
        }
    }

    .social-media-links {
        flex: 1 0 30%;
        padding: 0.25rem 0;
        flex-wrap: wrap;
        -webkit-box-flex: 1;

        font-size: 100%;
        margin: 0;
        list-style-type: none;

        li {
            display: inline-block;

            a {
                font-size: 0.6875em;
                line-height: 1.0909090909em;
                border-radius: 2px;
                font-weight: 400;
                margin-top: 0.25em;
                margin-bottom: 0.25em;
                padding: 0.375em 1em 0.4375em;
                display: inline-block;
                text-transform: initial;

                //before
                vertical-align: middle;

                //temp
                color: #fff;
                font-weight: bold;

                //temp
                &:hover {
                    background-color: #009374;
                }
            }
        }
    }

    .mobile-header {
        padding: 1rem 1.5rem 0;
        position: fixed;
        top: 0;
        z-index: 400;

        height: 100vh;
        max-height: -webkit-fill-available;

        transition: all 0.2s ease-in-out;

        width: 80%;

        @include breakpoints.sm-min {
            width: 50%;
        }

        //temp
        background: rgba(16, 37, 46, 1);

        .mobile-body {
            overflow: auto;
            position: relative;
            padding: 1rem;
            height: 100%;
        }

        &.hidden {
            right: -100%;
            width: 30%;
        }

        &.visible {
            right: 0;
        }

        .nav-toggle {
            //close
            right: auto;
            left: -1rem;
            top: 1.75rem;
            border-radius: 2px;
            font-family: 'tsi-cms';
            font-size: 1.0625em;
            // margin-top: 0.7058823529em;
            // margin-bottom: 0.4705882353em;
            line-height: 1.1764705882em;
            margin: 0;
            padding: 0.25rem 0.5rem;
            position: absolute;
            top: 0.75rem;
            right: 1rem;
            text-decoration: none;
            z-index: 400;

            //trigger
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            -webkit-font-smoothing: antialiased;
            border: none;
            cursor: pointer;
            display: inline-block;
            font-family: inherit;
            text-decoration: none;
            text-align: center;
            user-select: none;
            white-space: normal;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;

            //button
            vertical-align: baseline;

            //close temp
            background-color: #009374;
            color: #ffffff;

            //temp
            width: 2rem;
            height: 1.6rem;

            &:before {
                content: 'x';
                //temp
                font-size: 1.3rem;
            }
        }

        .social {
            padding: 1rem 1.5rem 0;

            //temp
            font-size: 3rem;
            color: #fff;
            text-align: center;
        }

        .access li {
            display: block !important;
            margin: 1rem 0;
        }

        .social-media-links {
            li {
                flex: 0 1 auto;
                padding: 0.25rem;
                line-height: 1;

                a {
                    border-radius: 2px;
                    box-shadow: none;
                    font-weight: 400;
                    font-size: 1.25rem;
                    //line-height: 3rem;
                    padding: 1rem;
                    display: block;
                    text-transform: initial;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}
