@use './styles/breakpoints.scss';

/* .root {
    .dsc {
        font-size: 0.875em;
        margin-top: 1.1428571429em;
        margin-bottom: 1.1428571429em;
        line-height: 1.4285714286em;
    }

    .hd {
        font-size: 1.0625em;
        margin-top: 0.7058823529em;
        margin-bottom: 0.4705882353em;
        line-height: 1.1764705882em;
    }

    @include breakpoints.sm-min {
        .hd {
            font-size: 1.5em;
            margin-top: 0.6666666667em;
            margin-bottom: 0.5em;
            line-height: 1.1666666667em;
            letter-spacing: -0.0125rem;
        }

        .dsc {
            font-size: 0.875em;
            margin-top: 1.1428571429em;
            margin-bottom: 1.1428571429em;
            line-height: 1.4285714286em;
        }
    }

    @include breakpoints.lg-min {
        .hd {
            font-size: 2.25em;
            margin-top: 0.6666666667em;
            margin-bottom: 0.4444444444em;
            line-height: 1.1111111111em;
            letter-spacing: -0.0125rem;
        }

        .dsc {
            font-size: 1.0625em;
            margin-top: 0.9411764706em;
            margin-bottom: 0.9411764706em;
            line-height: 1.4117647059em;
        }
    }
} */
