@use '../styles/breakpoints.scss';
/* @use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

$nav-item-padding: 2%;

.root {
    width: 100%;

    .wrapper {
        padding: 0;
        margin: 0;

        div {
            text-decoration: none;
            list-style-type: none;
            padding: $nav-item-padding; //color: variables.$textColorAccent;
            vertical-align: top;

            @include utils.text-sizes-md;

            &.bordered {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid variables.$textColorAccent;
            }
        }

        &.headerNav {
            div {
                text-align: left;
                padding: 2%;

                @include breakpoints.xs {
                    // columns: 2;
                    width: math.div(100%, 2)- $nav-item-padding * 2;
                    display: inline-block;
                }
            }

            ul {
                columns: 2;
            }
        }

        &.footerNav {
            div {
                // padding: 5px;
                padding: 1%;
                @include breakpoints.xs {
                    width: math.div(100%, 2)- 1% * 2;
                    display: inline-block;
                }
            }

            @media (max-width: breakpoints.$screen-md-min) {
                font-size: variables.$text-size-body-md;
                padding: 2%;
                width: math.div(100%, 2)- 2% * 2;
                display: inline-block;
            }
        }
    }
}
 */
.access {
    @include breakpoints.lg-min {
        flex: 1 1 100%;
    }

    display: flex;
    align-items: center;

    .menu {
        font-size: 0.8125em;
        margin-top: 0.9230769231em;
        margin-bottom: 0.9230769231em;
        line-height: 1.5384615385em;
        margin: 0;
        list-style-type: none;
        padding: 0;

        li {
            display: inline-block;
            position: relative;

            //sf-menu li

            letter-spacing: 0.05em;
            //font-weight: bold;

            a {
                display: block;
                padding: 0.75rem 0.5rem;
                width: 100%;
                cursor: pointer;
            }
        }

        li > .sub-menu {
            box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
            position: absolute;
            opacity: 0;
            visibility: hidden;
            padding-top: 2rem;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            max-height: 70vh;

            //overflow-y: auto;

            //
            margin: 0;
            z-index: 300;
            font-size: 90%;

            min-width: 100%;

            background: rgba(16, 37, 46, 1);

            a {
                padding: 0.25rem 0.5rem;
            }

            /* li {
                padding-left: 1rem;
            } */

            ul li {
                font-size: 90%;
            }
        }

        li:hover .sub-menu {
            opacity: 1;
            visibility: visible;
            //padding-top: 1rem;
        }

        /*  &.desktop-nav, */
        &.mobile-nav {
            ul {
                padding: 0 0 0 0.5rem;
            }

            li > .sub-menu {
                padding: 1rem 1rem 0.5rem 0;
            }
        }

        &.footer-nav {
            ul {
                padding: 0;
            }

            li {
                display: block;

                a {
                    //font-size: 0.6875em;

                    line-height: 1.0909090909em;
                    border-radius: 2px;
                    margin-top: 0.25em;
                    margin-bottom: 0.25em;
                    padding: 0.375em 1em 0.4375em;
                    font-weight: normal;
                    text-transform: initial;
                    display: block;
                    text-align: left;
                }
            }
        }

        &.desktop-nav {
            display: none;

            ul {
                padding: 0;
            }
            li > .sub-menu {
                padding: 0 0 0 0.5rem;
            }

            ul .sub-menu li {
                padding-left: 1rem;
            }

            @include breakpoints.lg-min {
                display: block;
            }

            .arrow::after {
                content: '▼';
                font-size: 80%;
                padding-left: 0.3rem;
                font-weight: bold;
            }

            li {
                text-transform: uppercase;
            }
        }

        &.mobile-nav {
            font-size: 0.875rem;

            li {
                margin: 1rem 0;
                font-weight: 700;

                a {
                    border-radius: 2px;
                    display: inline-block;
                    outline: 0;
                    padding: 0.5rem;
                }

                //added
                display: block !important;
            }
        }
    }
}

/* .access {
    li {
        display:block;
        margin: 1rem 0;
    }
} */
