@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

.root {
    width: 100%;

    .wrapper {
        @include breakpoints.sm {
            padding: 40px 20px;

            ul {
                columns: 2;
            }

            &.wrapper {
                width: 80%;
            }
        }
        ul {
            padding: 0;
            li {
                text-decoration: none;
                list-style-type: none;
                padding: 10px;
                color: variables.$text-color-accent;
                @include utils.text-sizes-md;

                @include breakpoints.sm {
                    &:nth-last-child(2) {
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid variables.$text-color-accent;
                    }
                }

                & a:hover {
                    color: variables.$alt-color;
                }
            }
        }

        &.headerNav {
            li {
                text-align: center;
                @include breakpoints.md {
                    text-align: left;
                }
            }
        }

        &.footerNav {
            ul {
                columns: 2;
            }
            li {
                /* font-size: variables.$text-size-body-md; */

                /*                 @include breakpoints.sm {
                    font-size: variables.$text-size-body-md;
                }

                @include breakpoints.md {
                    font-size: variables.$text-size-body-sm;
                } */
                @media (max-width: breakpoints.$screen-sm-min) {
                    font-size: variables.$text-size-body-md;
                }
            }
        }
    }
}
