@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

.root {
    width: 100%;

    .wrapper {
        @include breakpoints.md {
            padding: 40px 20px;

            ul {
                columns: 2;
            }

            &.wrapper {
                width: 80%;
            }
        }
        ul {
            padding: 0;
            li {
                text-decoration: none;
                list-style-type: none;
                padding: 10px;
                color: variables.$text-color-accent;
                @include utils.text-sizes-md;

                @include breakpoints.md {
                    &:nth-last-child(3) {
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid grey;
                    }
                }

                &:hover {
                    color: variables.$alt-color;
                }
            }
        }

        &.headerNav {
            li {
                &:nth-last-child(3) {
                    border-color: variables.$text-color-accent;
                }
            }
        }
    }
}
