@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';
@use '../styles/utils.module.scss';

.root {
    width: 100%;
    z-index: 99;
    display: none;

    .wrapper {
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;

        .navDrop {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.9);
            top: 0;
            width: 100%;
            margin: 0 auto;
            padding: variables.$gap;
            padding-top: 80px;
            box-sizing: border-box;
            max-width: variables.$max-main-width;

            @include breakpoints.sm {
                width: variables.$content-width;
            }

            .navItems {
                display: flex;
                flex: 70 0 0;
                justify-content: center;
                padding: 10px;
                flex-wrap: wrap;

                a {
                    text-align: center;
                }

                @include breakpoints.sm {
                    flex: 60 0 0;
                    /*                     padding-left: 40px;
                    padding-right: 40px; */
                }
            }

            .imageTile {
                flex: 30 0 0;
                padding: 20px;
                position: relative;
                aspect-ratio: variables.$aspect-ratio-4_3;
                display: none;
                align-self: flex-start;
                margin-top: 10px;

                img {
                    max-width: 100%;
                }

                @include breakpoints.sm {
                    flex: 30 0 0;
                }

                @include breakpoints.xs {
                    display: block;
                }

                span {
                    margin-top: 10px !important;
                }
            }
        }
    }

    &.visible {
        display: block;
    }

    &.layout2 .navDrop {
        position: absolute;
        top: 0;
    }
}
