@use './styles/breakpoints.scss';
@use './styles/utils.scss';
@use './styles/variables.scss';

.root {
    margin-top: 2rem;
    text-align: center;

    &.first-mod {
        margin-top: 0;
    }

    &.flex-mod {
        @include utils.flex-mod;
    }

    .wrapper {
        .link-wrap {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .item {
            width: variables.$full-width;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            position: relative;

            .item-wrap {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .caption {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    //used to fix hiding issue
                    will-change: transform;
                    &.cap-bckg {
                        background: var(--caption-background);
                    }
                }

                .content {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    @include utils.wrapper-size(0);
                    padding: 0 1.5rem;

                    .dsc-block {
                        a {
                            @include utils.move-before-wraplink;
                        }
                    }

                    .dsc {
                        font-size: variables.$xs-txt;
                        margin-top: 1.1428571429em;
                        margin-bottom: 1.1428571429em;
                        line-height: 1.4285714286em;

                        @include breakpoints.lg-min {
                            font-size: variables.$sm-txt;
                            margin-top: 0.9411764706em;
                            margin-bottom: 0.9411764706em;
                            line-height: 1.4117647059em;
                        }
                    }

                    &.thin .dsc {
                        margin: 0.3em 0;
                    }
                }
            }

            &.btn-only {
                .content {
                    justify-content: flex-end;
                }
            }

            &.left {
                .content {
                    text-align: left;
                }
            }

            &.right {
                .content {
                    text-align: right;
                }
            }
        }
    }

    .item-wrap {
        .caption {
            position: absolute;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            &.cap-bckg {
                background: var(--caption-background);
            }
        }

        &.react-scroll {
            .caption {
                z-index: 2;
                position: relative;
            }

            .parallax-banner {
                & > div:first-of-type {
                    inset: -125px 0px !important;
                }
            }
        }

        .outer {
            overflow: hidden;
            width: 100%;
            height: 70vh;

            position: absolute;
        }

        .image-block {
            position: relative;
            height: 100%;
            will-change: transform;

            &.image-block2 {
                position: absolute;
                will-change: transform;
                transform: translateY(-74.3272px);
                inset: -125px 0px !important;
                height: auto;
            }
        }

        img {
            will-change: transform;
        }
    }

    @include utils.text-sizes;
}
