@use 'sass:math';
@use './styles/breakpoints.scss';
@use './styles/utils.scss';
@use './styles/variables.scss';

.root {
    margin-top: 2rem;
    text-align: center;

    &.first-mod {
        margin-top: 0;
    }

    &.flex-mod {
        @include utils.flex-mod;
    }

    .wrapper {
        .link-wrap {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .item {
            width: variables.$full-width;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            position: relative;

            .item-wrap {
                //padding: 1.5rem;
                display: flex;
                justify-content: center;
                flex-direction: column;

                //add

                //add
                //z-index: 2;

                .caption {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    min-height: 70vh;
                    /*                         position: absolute;
                    width: 100%;
                    
                    height: 100%;
                    //used to fix hiding issue
                    will-change: transform; */

                    &.cap-bckg {
                        background: var(--caption-background);
                    }
                }

                .content {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    @include utils.wrapper-size(0);
                    padding: 0 1.5rem;

                    /*  @include breakpoints.lg-min {
                        width: variables.$full-item-width;
                        margin-left: variables.$item-margins;
                        margin-right: variables.$item-margins;
                    } */

                    .dsc-block {
                        a {
                            @include utils.move-before-wraplink;
                        }
                    }

                    .dsc {
                        font-size: variables.$xs-txt;
                        margin-top: 1.1428571429em;
                        margin-bottom: 1.1428571429em;
                        line-height: 1.4285714286em;

                        @include breakpoints.lg-min {
                            font-size: variables.$sm-txt;
                            margin-top: 0.9411764706em;
                            margin-bottom: 0.9411764706em;
                            line-height: 1.4117647059em;
                        }
                    }

                    &.thin .dsc {
                        margin: 0.3em 0;
                    }
                }

                .parallax-block {
                    position: relative;
                    opacity: 1;
                    min-height: 70vh;
                    clip-path: inset(0);

                    /*   
                    //background image alternative
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; 
                    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);*/

                    .img-block {
                        position: fixed;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                    }

                    /*  img {
                        object-fit: cover;
                        //object-fit: fill;
                        position: relative;
                        width: 100%;
                        height: 100%;
                    } */

                    /* img {
                        position: relative;
                        opacity: 1;
                        background-attachment: fixed;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                
                        min-height: 100vh;
                
                        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
                    } */
                }
            }

            &.btn-only {
                .content {
                    justify-content: flex-end;
                }
            }

            &.left {
                .content {
                    text-align: left;
                }
            }

            &.right {
                .content {
                    text-align: right;
                }
            }
        }
    }

    .item-wrap {
        &.notjlax {
            min-height: 70vh;

            .caption {
                position: absolute;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                //used to fix hiding issue
                will-change: transform;

                &.cap-bckg {
                    background: var(--caption-background);
                }
            }
        }
    }

    //

    @include utils.text-sizes;

    /*     &.well {
        .hd-block {
            max-width: 100%;
        }

        .item {
            box-shadow: 0 0 2px rgb(0 0 0 / 6%), 0 2px 4px rgb(0 0 0 / 12%);
        }
    } */
}

.Parallax2 {
    display: flex;
    justify-content: center;

    .background2 {
        /*  width: 1080px;
        height: 1280px; */
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .content2 {
        width: 1080px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        margin-top: 100px;
    }
}
