@use './styles/breakpoints.scss';
@use './styles/utils.scss';
@use './styles/variables.scss';
@value columns from '../components/container.module.scss';

.root {
    @include utils.module-root;

    .wrapper {
        @include utils.wrapper-size(0);

        .item {
            margin-bottom: 2rem;
            width: variables.$full-width;
            margin-left: 0;
            margin-right: 0;
            width: 100%;

            .link-wrap {
                height: 100%;
                box-shadow: 0 0 2px rgb(0 0 0 / 6%), 0 2px 4px rgb(0 0 0 / 12%);

                &:hover {
                    transition: all 0.1s ease-in-out;
                    transform: scale(1.01);
                    box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
                }
            }

            .item-wrap {
                height: 100%;

                .hd-block {
                    .hd {
                        font-weight: 700;
                    }
                }
            }
        }

        .image-block {
            margin: 0;
            margin-bottom: 0.5625em;
        }
    }

    &.flex-mod {
        @include utils.flex-mod;
    }

    .caption {
        padding: 0.5rem 1rem 0.75rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        overflow: auto;
        max-height: 100%;
    }

    text-align: left;

    .right {
        text-align: right;

        .caption {
            justify-content: flex-end;
        }
    }

    .center {
        text-align: center;

        .caption {
            justify-content: center;
        }
    }

    &.root-container {
        container-type: inline-size;
        container-name: module;

        .item {
            container-type: inline-size;
            container-name: item;
        }
    }

    //temp: medium screens, need to revise size maybe
    @container item (min-width: variables.$med-container) {
        .item {
            &.nHero:first-of-type {
                margin-top: 2rem;
            }
        }
    }

    &.well {
        .hd-block,
        .txt-block {
            max-width: 100%;
        }
    }

    @container module (min-width:481px) {
        .wrapper {
            padding-top: 3rem;
        }

        .nHero {
            width: variables.$ten-12;
        }
    }

    &.grid {
        @include utils.grid;
    }

    &.flexAlt {
        @include utils.item-flex;
    }

    .hero,
    .nImg {
        .caption {
            height: 100%;
            align-items: center;
        }
    }
}

.columns .root {
    @include utils.column-mod;
}
