@use './styles/breakpoints.scss';
@use './styles/utils.scss';
@use './styles/variables.scss';
@value columns from '../components/container.module.scss';
@value wide-column from '../components/container.module.scss';

.root {
    @include utils.module-root;
    @include utils.wrapper-size(0);

    .wrapper {
        .item {
            margin-bottom: 2rem;
            width: variables.$full-width;
            margin-left: 0;
            margin-right: 0;
            width: 100%;

            .item-wrap {
                height: 100%;
                position: relative;

                .hd-block {
                    .hd {
                        font-weight: 700;
                    }
                }

                .content {
                    height: 100%;
                }
            }

            &.is-wrap-link {
                box-shadow: 0 0 2px rgb(0 0 0 / 6%), 0 2px 4px rgb(0 0 0 / 12%);

                &:hover {
                    transition: all 0.1s ease-in-out;
                    transform: scale(1.01);
                    box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
                }
            }
        }

        .image-block {
            margin: 0;
            margin-bottom: 0.5625em;
        }
    }

    &.flex-mod {
        @include utils.flex-mod;
    }

    .caption {
        padding: 0.5rem 1rem 0.75rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        max-height: 100%;
        overflow: auto;

        .cap-cont {
            max-height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    text-align: left;

    .right {
        text-align: right;

        .caption {
            justify-content: flex-end;
        }
    }

    .center {
        text-align: center;

        .caption {
            justify-content: center;
        }
    }

    @container item (min-width: variables.$med-container) {
        .item {
            &.nHero:first-of-type {
                margin-top: 2rem;
            }
        }
    }

    &.well {
        .hd-block,
        .txt-block {
            max-width: 100%;
        }
    }

    @container module (min-width:481px) {
        .wrapper {
            padding-top: 3rem;
        }

        &.thin .wrapper {
            padding-top: 1rem;
        }

        .nHero {
            width: variables.$ten-12;
        }
    }

    &.item-flex {
        @include utils.item-flex;
    }

    &.grid-item {
        @include utils.grid;
    }

    .hero,
    .nImg {
        .caption {
            height: 100%;
            align-items: center;
        }
    }
}

.columns .root {
    @include utils.column-mod;
    .item {
        width: 100% !important;
    }
}

.wide-column .wrapper {
    padding: 0 1.5rem 1rem;
}
