@use '../styles/breakpoints.scss';
@use 'sass:math';
@use '../styles/variables.scss';

/*
1200/3
* 2
width of big block is 800px
- maing the height need to be 600 for 4/3 ratio
- but smaller screens it does not work
*/

//$tile-height: math.div(variables.$max-main-width, 2.5);
$ratio: math.div(4, 3);

.root {
    width: 80%;
    max-width: variables.$max-main-width;
    margin-top: 20px;
    .wrapper {
        .tileBlock {
            @include breakpoints.md {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 5px;
            }

            .tileImage {
                position: relative;
                max-width: 100%;

                &.mainImage {
                    grid-row: 1 / 3;
                    grid-column: 1/3;
                    aspect-ratio: $ratio;
                    // height: 500px;
                    //height: $tile-height;
                }
                &.sideImage {
                    aspect-ratio: $ratio;
                }

                //Conditionals for two images and one image
                &.sideImage2 {
                    aspect-ratio: $ratio;
                    @include breakpoints.md {
                        grid-row: 1 / 3;
                        aspect-ratio: unset;
                    }
                }

                &.mainImage1 {
                    @include breakpoints.md {
                        grid-row: 1 / 3;
                        grid-column: 1/4;
                    }
                    aspect-ratio: $ratio;
                }

                .text {
                    color: #fff;
                    padding: 10px;
                    font-size: 25px;
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    font-weight: bold;

                    /*  @include breakpoints.md {
                        &:hover {
                            transition-duration: 0.5s !important;
                            transition-timing-function: ease-in !important;
                            padding-left: 20px;
                        }
                    } */
                }

                //Linked images are filtered black and white until hover
                .linked {
                    img {
                        filter: grayscale(100);
                    }

                    &:hover img {
                        filter: grayscale(0);
                    }

                    .text:after {
                        padding: 10px;
                        content: '>';
                        color: rgb(230, 211, 65);
                    }
                }
            }
        }
    }
}
