@use './styles/breakpoints.scss';
@use './styles/utils.scss';

@mixin flex {
    @include breakpoints.sm-min {
        &.col_2,
        &.col_3,
        &.col_4 {
            .item {
                margin-left: utils.$item-margins;
                margin-right: utils.$item-margins;
            }
        }

        &.col_1 .item,
        &.col_2 .item {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        &.col_3 .item {
            width: utils.$half-item-width;
        }

        &.col_4 .item {
            width: utils.$half-item-width;
        }
    }

    @include breakpoints.md-min {
        &.col_2 .item,
        &.col_4 .item {
            width: utils.$half-item-width;
        }

        &.col_3 .item {
            width: utils.$third-item-width;
        }

        &.col_2 .hero {
            width: utils.$full-item-width;
        }

        &.col_3 .hero {
            width: utils.$col3-hero;
        }

        &.col_4 .hero {
            width: utils.$half-item-width;
        }
    }

    @container module (min-width:1025px) {
        &.col_3 .nHero,
        &.beacon.col_3 .item {
            width: utils.$third-item-width;
        }

        &.col_4 .nHero,
        &.beacon.col_4 .item {
            width: utils.$quarteritem-width;
        }
    }
}

@mixin tsFlex {
    display: -moz-flex;
    display: flex;
}

.root {
    padding-top: 3rem;

    * {
        box-sizing: border-box;
    }

    .wrapper {
        //max-width: 75.5em;
        max-width: 74em;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.5rem 1rem;

        .item {
            margin-bottom: 2rem;
            width: utils.$full-width;
            margin-left: 0;
            margin-right: 0;
            width: 100%;

            .link-wrap {
                height: 100%;
                box-shadow: 0 0 2px rgb(0 0 0 / 6%), 0 2px 4px rgb(0 0 0 / 12%);

                &:hover {
                    transition: all 0.1s ease-in-out;
                    transform: scale(1.01);
                    box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
                }
            }

            .item-wrap {
                height: 100%;

                .hd-block {
                    .hd {
                        font-weight: 700;
                    }
                }
            }
        }

        .image-block {
            margin: 0;
            margin-bottom: 0.5625em;
        }
    }

    &.tsflex {
        @include tsFlex;
        box-lines: multiple;
        flex-wrap: wrap;

        .wrapper {
            @include tsFlex;
            box-lines: multiple;
            flex-wrap: wrap;
            width: 100%;
        }

        .item {
            @include tsFlex;
            box-flex: 0;
            flex: 0 1 auto;
            align-self: stretch;
            -ms-flex-item-align: stretch;
            /*  align-self: start; */
            flex: 0 1 auto;
            box-orient: vertical;
            box-direction: normal;
            flex-direction: column;
            margin-bottom: 2rem;
        }
    }

    text-align: left;

    .right {
        text-align: right;

        .caption {
            justify-content: flex-end;
        }
    }

    .center {
        text-align: center;

        .caption {
            justify-content: center;
        }
    }

    &.root-container {
        container-type: inline-size;
        container-name: module;

        .item {
            container-type: inline-size;
            container-name: item;
        }
    }

    //temp: medium screens, need to revise size maybe
    @container item (min-width:utils.$med-container) {
        .item {
            &.nHero:first-of-type {
                margin-top: 2rem;
            }
        }
    }

    &.well {
        .hd-block,
        .txt-block {
            max-width: 100%;
        }
    }

    /*---------------------------------------- Column item sizes ------------------------------------------------*/

    @container module (min-width:481px) {
        .wrapper {
            padding-top: 3rem;
        }

        .nHero {
            width: utils.$ten-12;
        }
    }

    &.flex {
        @include flex;
    }

    &.grid {
        @include utils.grid;
    }

    /*----------------------------------------------------------- End of Column Sizes -------------------------------------------*/

    //font sizes
    .font_xs {
        font-size: 62.5%;
    }

    .font_sm {
        font-size: 75%;
    }

    .font_md {
        font-size: 87.5%;
    }

    .font_lg {
        font-size: 112.5%;
    }

    .font_xl {
        font-size: 125%;
    }

    .caption {
        text-align: center;
        padding: 0.5rem 1rem 0.75rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
    }

    .hero,
    .nImg {
        .caption {
            height: 100%;
            align-items: center;
        }
    }
}
