.main {
    display: block;
    height: 70vh;
    overflow: hidden;
    position: relative;
}
.image-wrap {
    position: relative;
    height: 100vh;
    width: 100%;
}
.image-component {
    object-fit: cover;
    object-position: 60% 50%;
}
.text-box {
    //position: fixed;
    inset: 0;
    height: fit-content;
    width: fit-content;
    padding: 2rem;
    //background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    z-index: 30;

    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    top: 0;
}
.text-box a {
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
    background-color: rgba(0, 150, 230, 1);
    display: inline-block;
    margin-top: 1rem;
}
.massive {
    border-top: solid 5px white;
    position: relative;
    z-index: 20;
    height: 2000px;
    width: 100%;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    color: rgba(0, 200, 200, 1);
    padding-top: 2rem;
    background-color: rgba(0, 255, 255, 0.3);
}

.showRender .image-wrap {
    height: 80vh;
    width: 80%;
}
.showRender .image-component {
    opacity: 0.3;
    transform: translateX(10%);
    outline: dashed magenta 5px;
    outline-offset: -10px;
    right: -100px;
}
.showRender .massive {
    background-color: rgba(0, 255, 255, 0.05);
}
