// Extra small screens
$screen-xs-min: 360px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// L Tablets and small desktops
$screen-lg-min: 992px;

// XL Large tablets and desktops
$screen-xl-min: 1200px;

// XXL Large tablets and desktops
$screen-xxl-min: 1366px;

// XXXL For those creazy designers
$screen-xxxl-min: 1920px;

// Extra Small devices
@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// Super Extra large devices
@mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
}

// Super mega huge
@mixin xxxl {
    @media (min-width: #{$screen-xxxl-min}) {
        @content;
    }
}

@mixin custom($size) {
    @media (min-width: $size) {
        @content;
    }
}
