@use 'sass:math';
@use './breakpoints.scss';
@use './utils.scss';
@use './variables.scss';

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    cursor: default;
    font-size: 100%;
    overflow-y: scroll;

    font-family: var(--lato);
}

.hd-font {
    font-family: var(--lora);
}
.txt-font {
    font-family: var(--lato);
}
.feat-font {
    font-family: var(--abril_flatface);
}

a {
    color: inherit;
    text-decoration: none;
}

.root-container {
    container-type: inline-size;
    container-name: module;

    .item {
        container-type: inline-size;
        container-name: item;
    }
}

.grid-item {
    @include utils.grid;
}

.item-flex {
    @include utils.item-flex;
}

.round {
    border-radius: 15px;
    overflow: hidden;
}

/* .custom-bg,
.react-parallax-background,
.react-parallax-background-children {
    width: 100%;
    //height: 100%;
    height: 70vh;
    will-change: transform;
}

.react-parallax-content {
    position: static !important;
}

.react-parallax-background {
    top: 80px;
    position: absolute;

    img {
        will-change: transform;
    }
} */

/*--------------------- React-Parallax ---------------------------*/

.custom-bg {
    position: relative;
    height: 581px;

    @media (min-height: 600px) {
        height: 631px;
    }

    @media (min-height: 680px) {
        height: 781px;
    }

    @media (min-height: 1300px) {
        height: 981px;
    }
}

.custom-bg img {
    will-change: transform;
    width: auto;
    height: 100%;
}
.react-parallax-background-children {
    width: 100%;
}

/*.react-parallax-background-children {
    position: relative !important;
}

.react-parallax-content {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
} 

.react-parallax-background-children {
    // height: 70vh;
    will-change: transform;

    img {
        will-change: transform;
        // width: 100%;
        //height: auto !important;
        
    }
}*/

/*.react-parallax-background {
    img {
        will-change: transform;
        width: 100%;
        //height: auto !important;
        //position: static !important;
        width: auto !important;
    }
}
 .react-parallax-background-children {
    //width: 100%;
} */

//this is what is being used in the jarallax css file
/* .jarallax {
    position: relative;
    z-index: 0;
  }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  } */

.jarallax {
    height: 70vh;
}

.hello > div:first-of-type {
    height: 100%;
}
