@use 'sass:math';
@use './breakpoints.scss';
@use './utils.scss';
@use './variables.scss';

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    cursor: default;
    font-size: 100%;
    overflow-y: scroll;

    * {
        box-sizing: border-box;
    }

    // font-family: var(--lato);
}

/* .hd-font {
    font-family: var(--lora);
}
.txt-font {
    font-family: var(--lato);
}
.feat-font {
    font-family: var(--abril_flatface);
} */

a {
    color: inherit;
    text-decoration: none;
}

.root-container {
    container-type: inline-size;
    container-name: module;

    .item {
        container-type: inline-size;
        container-name: item;
    }
}

.grid-item {
    @include utils.grid;
}

.item-flex {
    @include utils.item-flex;
}

.round {
    border-radius: 15px;
    overflow: hidden;
}

/* .custom-bg,
.react-parallax-background,
.react-parallax-background-children {
    width: 100%;
    //height: 100%;
    height: 70vh;
    will-change: transform;
}

.react-parallax-content {
    position: static !important;
}

.react-parallax-background {
    top: 80px;
    position: absolute;

    img {
        will-change: transform;
    }
} */

/*--------------------- React-Parallax ---------------------------*/

.custom-bg {
    position: relative;
    height: 581px;

    @media (min-height: 600px) {
        height: 631px;
    }

    @media (min-height: 680px) {
        height: 830px;
    }

    @media (min-height: 1300px) {
        height: 981px;
    }
}

.custom-bg img {
    will-change: transform;
    width: auto;
    height: 100%;
}
.react-parallax-background-children {
    width: 100%;
    will-change: transform;
}

/*.react-parallax-background-children {
    position: relative !important;
}

.react-parallax-content {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
} 

.react-parallax-background-children {
    // height: 70vh;
    will-change: transform;

    img {
        will-change: transform;
        // width: 100%;
        //height: auto !important;
        
    }
}*/

/*.react-parallax-background {
    img {
        will-change: transform;
        width: 100%;
        //height: auto !important;
        //position: static !important;
        width: auto !important;
    }
}
 .react-parallax-background-children {
    //width: 100%;
} */

//this is what is being used in the jarallax css file
/* .jarallax {
    position: relative;
    z-index: 0;
  }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  } */

.jarallax {
    height: 70vh;
}

.hello > div:first-of-type {
    height: 100%;
}

//////////////////@at-root
///
///

//photo grid
.slick-slider {
    width: 100%;
    overflow: hidden;
}

/* .slick-arrow {
    padding: 0.75rem;
    background-color: #009374 !important;
    color: #ffffff;
    font-size: 0;
    text-align: center;
    margin: -1rem 0 0;
    position: absolute;
    top: 50%;
    border: none;
    opacity: 0;
    //outline: none;
    z-index: 2;
    width: auto;
    height: auto;
    transition: all 0.1s linear;

    &:before {
        font-size: 1.75rem;
        line-height: 1.25;

        font-weight: bold;
    }
}

.wrapper:hover .slick-arrow {
    opacity: 0.4;
}

.slick-arrow:hover {
    opacity: 1 !important;
}

.slick-prev {
    left: 2rem;
    //medium container
    @include breakpoints.md-min {
        left: 4.5rem !important;
    }

    &:before {
        content: '<';
    }
}

.slick-next {
    right: 2rem;
    @include breakpoints.md-min {
        right: 4.5rem !important;
    }

    &:before {
        content: '>';
    }
}
 */

$base-font-size: 16; /* 16px */
$base-line-height: math.div(4, $base-font-size); /* 4px */
$small-spacing: math.div(8, $base-font-size) * 1rem; /* 8px */
$base-spacing: $small-spacing * 2; /* 16px */
$large-spacing: $base-spacing * 2; /* 32px */

$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

@mixin transition($properties...) {
    // Fix for vendor-prefix transform property
    $needs-prefixes: false;
    $webkit: ();
    $moz: ();
    $spec: ();

    // Create lists for vendor-prefixed transform
    @each $list in $properties {
        @if nth($list, 1) == 'transform' {
            $needs-prefixes: true;
            $list1: -webkit-transform;
            $list2: -moz-transform;
            $list3: ();

            @each $var in $list {
                $list3: join($list3, $var);

                @if $var != 'transform' {
                    $list1: join($list1, $var);
                    $list2: join($list2, $var);
                }
            }

            $webkit: append($webkit, $list1);
            $moz: append($moz, $list2);
            $spec: append($spec, $list3);
        } @else {
            $webkit: append($webkit, $list, comma);
            $moz: append($moz, $list, comma);
            $spec: append($spec, $list, comma);
        }
    }

    @if $needs-prefixes {
        -webkit-transition: $webkit;
        -moz-transition: $moz;
        transition: $spec;
    } @else {
        @if length($properties) >= 1 {
            @include prefixer(transition, $properties, webkit moz spec);
        } @else {
            $properties: all 0.15s ease-out 0s;
            @include prefixer(transition, $properties, webkit moz spec);
        }
    }
}

/*------------------------------------- Photo Gallery Animations ----------------------------------------- */

/* .slick-slide {
    .content {
        display: none;
    }
}
.slick-active {
    .content {
        display: flex;
    }
} */

/* text focus in animation */
.text-focus-in {
    .slick-active {
        .item {
            .hd,
            .sh,
            .dsc,
            .btn {
                //-webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
                // animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
            }
            .hd {
                animation-delay: 180ms;
            }
            .sh {
                animation-delay: 360ms;
            }
            .dsc {
                animation-delay: 540ms;
            }
            .btn {
                animation-delay: 720ms;
            }
        }
    }
}

/* WATERFALL ANIMATION */
.waterfall {
    .item {
        .hd,
        .sh,
        .dsc,
        .btn {
            position: relative;
            @include transition(transform 0.3s $ease-in-out-back, opacity 0.3s $ease-in-out-back);
            transform: translateY($base-spacing);
            opacity: 0;
        }
        .hd {
            transition-delay: 180ms !important;
        }
        .sh {
            transition-delay: 360ms !important;
        }
        .dsc {
            transition-delay: 540ms !important;
        }
        .btn {
            transition-delay: 720ms !important;
        }
    }

    .slick-active {
        // .#{$tsi-mod}I {
        .item {
            .hd,
            .sh,
            .dsc,
            .btn {
                transform: translateY(0);
                opacity: 1;
            }
            // }
            // .#{$tsi-mod}I_txt {
            .content {
                opacity: 1;
            }
        }
        //}
    }
}

/* SLIDE-IN ANIMATION */
.slidein {
    .item {
        /* .caption {
            position: absolute;
        } */
        .hd,
        .sh,
        .dsc,
        .btn {
            position: relative;
            @include transition(transform 0.3s $ease-in-out-back, opacity 0.3s $ease-in-out-back);
            transform: translateY(-$base-spacing);
            opacity: 0;
        }
        .hd {
            transform: translateX(-($large-spacing * 3));
            transition-delay: 180ms;
        }
        .sh {
            transform: translateX(-($large-spacing * 3));
            transition-delay: 270ms;
        }
        .dsc {
            transform: translateX($large-spacing * 3);
            transition-delay: 360ms;
        }
        .btn {
            transform: translateX($large-spacing * 3);
            transition-delay: 450ms;
        }
    }

    .slick-active {
        .item {
            .hd,
            .sh,
            .dsc,
            .btn {
                transform: translateX(0);
                opacity: 1;
            }

            .caption {
                // opacity: 1;
            }
        }
    }
}

/* BOUNCE ANIMATION */
@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    .slick-active {
        .item {
            .hd,
            .sh,
            .dsc,
            .btn {
                animation-name: bounce;
                transform-origin: center bottom;
                animation-duration: 1s;
                animation-fill-mode: both;
                transform-origin: center bottom;
            }
            .hd {
                animation-delay: 180ms;
            }
            .sh {
                animation-delay: 360ms;
            }
            .dsc {
                animation-delay: 540ms;
            }
            .btn {
                animation-delay: 720ms;
            }
        }
    }
}
