@use 'sass:math';
@use './breakpoints.scss';
@use './utils.scss';
@use './variables.scss';

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    cursor: default;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.root-container {
    container-type: inline-size;
    container-name: module;

    .item {
        container-type: inline-size;
        container-name: item;
    }
}

.grid-item {
    @include utils.grid;
}

.item-flex {
    @include utils.item-flex;
}

.round {
    border-radius: 15px;
    overflow: hidden;
}

/* .custom-bg,
.react-parallax-background,
.react-parallax-background-children {
    width: 100%;
    //height: 100%;
    height: 70vh;
    will-change: transform;
}

.react-parallax-content {
    position: static !important;
}

.react-parallax-background {
    top: 80px;
    position: absolute;

    img {
        will-change: transform;
    }
} */

/*--------------------- React-Parallax ---------------------------*/

.custom-bg {
    position: relative;

    height: 581px;

    @media (min-height: 600px) {
        height: 631px;
    }

    @media (min-height: 680px) {
        height: 781px;
    }

    @media (min-height: 1300px) {
        height: 981px;
    }
}

.custom-bg img {
    will-change: transform;
    width: auto;
    height: 100%;
}
.react-parallax-background-children {
    width: 100%;
}

/*.react-parallax-background-children {
    position: relative !important;
}

.react-parallax-content {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
} 

.react-parallax-background-children {
    // height: 70vh;
    will-change: transform;

    img {
        will-change: transform;
        // width: 100%;
        //height: auto !important;
        
    }
}*/

/*.react-parallax-background {
    img {
        will-change: transform;
        width: 100%;
        //height: auto !important;
        //position: static !important;
        width: auto !important;
    }
}
 .react-parallax-background-children {
    //width: 100%;
} */

//this is what is being used in the jarallax css file
/* .jarallax {
    position: relative;
    z-index: 0;
  }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  } */

.jarallax {
    height: 70vh;
}

.hello > div:first-of-type {
    height: 100%;
}

.parralaxbanner > div:first-of-type {
    inset: -150px 0px !important;
    //transform: translate3d(0, 0, 0);
}

.parralaxbanner img {
    will-change: transform;
}

/* .tsi-parallax {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.mobby {
        display: block;
        @media (min-width: 640px) {
            display: none;
        }
    }
}

.tsi-parallax.desky {
    display: none;

    @media (min-width: 640px) {
        display: block;
    }
}

main {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    //height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

section {
    transform-style: preserve-3d;
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.no-parallax {
    background-color: #111;
    z-index: 999;
}

section h1 {
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
}

.parallaxy h1 {
    width: 60%;
    font-size: 1rem;
}



.bg-img {
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //transform: translateZ(-2px) scale(2.5);
    transform: translateZ(-2px) scale(2.5);
    background-size: 100%;
    z-index: -1;

    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    section h1 {
        font-size: 3rem;
    }
    .parallaxy h1 {
        font-size: 2rem;
    }
} */

//////////////////////////////////////////////////////////////////
///
///
///
.new {
    width: 100%;
}

.parallax3 {
    perspective: 100px;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
        display: block;
        position: absolute;
        bottom: 0;
    }
}

.parallax__cover {
    background: #2d112b;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 800px;
    z-index: 2;
}

$parallax__layers: 2;

@for $i from 0 through $parallax__layers {
    $x: ($parallax__layers - $i) / 2;
    .parallax__layer__#{$i} {
        transform: translateZ(-100px * $x) scale($x + 1);
    }
}

/*----------------------------------------- Google lax -----------------------------------*/
.parallax {
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 130vh;
    /* Since the parallax elements still consume space, we set the margin to undo
the height of this parallax element making it essentially consume 0 space.
*/
    margin-bottom: -130vh;
}

.header {
    height: 70vh;
}
.parallax.header {
    margin-bottom: -70vh;
}

p {
    color: white;
    margin: 1em 0;
    z-index: 1;
    position: relative;
}

.viewport {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;

    //add
    perspective: 1px;
    perspective-origin: right bottom;
}
.woods:not(.header),
.sunset:not(.header) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sunset:not(.header) {
    align-items: flex-end;
}
.solid {
    z-index: 1;
    position: relative;
    height: 70vh;
    font-size: 1.5em;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.solid.star {
    background-image: linear-gradient(hsla(240, 90%, 8%, 1) 0%, 99%, hsla(217, 24%, 71%, 0) 100%);
    box-shadow: -10px -10px 20px hsl(240, 90%, 8%);
}
.solid.woods {
    background-color: hsl(195, 16%, 49%);
    box-shadow: -10px -10px 20px hsl(195, 16%, 49%);
}

.scene {
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        color: #fff;
    }
}

/*------------------------------------------ Other chris one */

.layer {
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
    position: fixed;
}

.wrappy {
    /*     height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px; */

    perspective: 1px;
    perspective-origin-x: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
