@use '../styles/variables.scss';
@use './styles/breakpoints.scss';
@use 'sass:math';

/*-------------------------------- Mixins-----------------------*/

@mixin useFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin wrapper-size($padding) {
    max-width: variables.$wrap-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: #{$padding};
}

@mixin module-root {
    padding-top: 3rem;
    padding-left: variables.$container-margins;
    padding-right: variables.$container-margins;

    &.thin {
        padding-top: 1rem;
    }
}

@mixin grid {
    @include breakpoints.sm-min {
        .wrapper {
            display: grid;
            gap: variables.$grid-gap;
            grid-auto-rows: minmax(100px, auto);
        }

        .item {
            width: 100%;
        }

        &.col_3 .wrapper,
        &.col_4 .wrapper {
            grid-template-columns: repeat(2, 1fr);
        }

        &.col_4 .hero {
            grid-column: span 2;
        }

        @include breakpoints.md-min {
            .hero {
                grid-column: span 2;
            }

            &.col_2 .wrapper,
            &.col_4 .wrapper {
                grid-template-columns: repeat(2, 1fr);
            }

            &.col_3 .wrapper {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        @container module (min-width:1025px) {
            &.col_4 .wrapper {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@mixin flex-mod {
    display: -moz-flex;
    display: flex;
    flex-wrap: wrap;

    .wrapper {
        display: -moz-flex;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .item {
        display: -moz-flex;
        display: flex;
        flex: 0 1 auto;
        align-self: stretch;
        -ms-flex-item-align: stretch;
        flex: 0 1 auto;
        align-self: stretch;
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

@mixin column-mod {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    .item {
        width: 100%;
    }
}

@mixin move-before-wraplink {
    z-index: 2;
    position: relative;
}

@mixin text-sizes {
    .font_xs {
        font-size: 62.5% !important;
    }

    .font_sm {
        font-size: 75% !important;
    }

    .font_md {
        font-size: 87.5% !important;
    }

    .font_lg {
        font-size: 112.5% !important;
    }

    .font_xl {
        font-size: 125% !important;
    }
}

@mixin item-flex {
    .item {
        width: variables.$full-item-width;
        margin-left: variables.$item-margins;
        margin-right: variables.$item-margins;
    }

    @include breakpoints.sm-min {
        &.col_2,
        &.col_3,
        &.col_4 {
            .item {
                margin-left: variables.$item-margins;
                margin-right: variables.$item-margins;
            }
        }

        &.col_1 .item,
        &.col_2 .item {
            width: variables.$full-item-width;
            //margin-left: auto;
            //margin-right: auto;
        }
        &.article_1,
        &.article_2,
        &.article_3 {
            &.col_1 .nHero.item {
                width: variables.$ten-12;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &.col_3 .item {
            width: variables.$half-item-width;
        }

        &.col_4 .nHero.item {
            width: variables.$half-item-width;
        }

        &.col_4 .hero.item {
            width: variables.$full-item-width;
        }
    }

    @include breakpoints.md-min {
        &.col_2 .nHero.item,
        &.col_4 .nHero.item {
            width: variables.$half-item-width;
        }

        &.col_3 .nHero.item {
            width: variables.$third-item-width;
        }

        &.col_2 .hero {
            width: variables.$full-item-width;
        }

        &.col_3 .hero {
            width: variables.$col3-hero;
        }

        &.col_4 .hero.item {
            width: variables.$full-item-width;
        }
    }

    @container module (min-width:1025px) {
        &.col_3 .nHero,
        &.beacon.col_3 .item {
            width: variables.$third-item-width;
        }

        &.col_4 .nHero.item,
        &.beacon.col_4 .item {
            width: variables.$quarteritem-width;
        }

        &.col_3 .hero.item {
            width: variables.$col3-hero;
        }

        &.col_4 .hero.item {
            width: variables.$half-item-width;
        }
    }
}

@mixin photo-flex {
    @include breakpoints.sm-min {
        &.col_2,
        &.col_3,
        &.col_4 {
            .item {
                margin-left: variables.$item-margins;
                margin-right: variables.$item-margins;
            }
        }

        &.col_1 .item,
        &.col_2 .item {
            width: 100%;
            // margin-left: auto;
            // margin-right: auto;
        }

        &.col_3 .item {
            width: variables.$half-item-width;
        }

        &.col_4 .item {
            width: variables.$half-item-width;
        }
    }

    @include breakpoints.md-min {
        &.col_2 .item,
        &.col_4 .item {
            width: variables.$half-item-width;
        }

        &.col_3 .item {
            width: variables.$third-item-width;
        }

        &.col_2 .hero {
            width: variables.$full-item-width;
        }

        &.col_3 .hero {
            width: variables.$col3-hero;
        }

        &.col_4 .hero {
            width: variables.$half-item-width;
        }
    }

    @container module (min-width:1025px) {
        &.col_3 .nHero,
        &.beacon.col_3 .item {
            width: variables.$third-item-width;
        }

        &.col_4 .nHero,
        &.beacon.col_4 .item {
            width: variables.$quarteritem-width;
        }
    }
}

/*-----------Text Sizes-------------------*/

/* @mixin sm-text-sizes {
    font-size: $sm-txt;
    margin-top: 0.7058823529em;
    margin-bottom: 0.4705882353em;
    line-height: 1.1764705882em;
}

@mixin xs-text-sizes {
    font-size: $xs-txt;
    margin-top: 0.5714285714em;
    margin-bottom: 0.5714285714em;
    line-height: 1.1428571429em;
}
@mixin md-text-sizes {
    font-size: $md-txt;
    margin-top: 0.6666666667em;
    margin-bottom: 0.5em;
    line-height: 1.1666666667em;
    letter-spacing: -0.0125rem;
}
@mixin lg-text-sizes {
    font-size: $lg-txt;
    margin-top: 0.6666666667em;
    margin-bottom: 0.4444444444em;
    line-height: 1.1111111111em;
    letter-spacing: -0.0125rem;
}
 */
/*-----------------------------------------------*/

@mixin text-sizes-sm {
    font-size: variables.$text-size-body-xsm;

    @include breakpoints.md {
        font-size: variables.$text-size-body-sm;
    }
}
@mixin text-sizes-md {
    font-size: variables.$text-size-body-xsm;

    @include breakpoints.md {
        font-size: variables.$text-size-body-sm;
    }
    @include breakpoints.lg {
        font-size: variables.$text-size-body-md;
    }
}
@mixin text-sizes-lg {
    font-size: variables.$text-size-body-xsm;

    @include breakpoints.md {
        font-size: variables.$text-size-body-md;
    }
    @include breakpoints.lg {
        font-size: variables.$text-size-body-lg;
    }
}

/*-------------------------------*/

@mixin headline-sizes-sm {
    font-weight: bold;
    font-size: variables.$text-size-head-sm;

    @include breakpoints.xl {
        font-size: variables.$text-size-head-md;
    }
}

@mixin headline-sizes-md {
    font-weight: bold;
    font-size: variables.$text-size-head-sm;

    @include breakpoints.md {
        font-size: variables.$text-size-head-sm;
    }

    @include breakpoints.lg {
        font-size: variables.$text-size-head-md;
    }
}

@mixin headline-sizes-lg {
    font-weight: bold;
    font-size: variables.$text-size-head-sm;

    @include breakpoints.md {
        font-size: variables.$text-size-head-md;
    }
    @include breakpoints.lg {
        font-size: variables.$text-size-head-lg;
    }
}

/*------------------Other-----------------*/

@mixin root {
    width: 100%;
    margin-bottom: variables.$root-bottom-margin;
}

//mixin for cropping space from top of text

@mixin lhCrop($line-height) {
    &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - #{$line-height}) * 0.8em);
    }
}

@mixin cta_btn {
    a {
        font-weight: bold;
        //text-transform: uppercase;
        letter-spacing: 1.5px;

        &:after {
            padding: 10px;
            content: '>';
            /* color: variables.$linkColor; */
        }
    }
}
