@use 'sass:math';

/* Global variables */
$content-width: 80%;
$max-main-width: 1200px;
$aspect-ratio-4_3: math.div(4, 3);
$aspect-ratio-16_9: math.div(16, 9);
$aspect-ratio-3_4: math.div(3, 4);

/*Colors*/
$link-color: rgb(230, 211, 65);
//rgb(192, 192, 59, 1)
$main-color: rgb(50, 50, 191);
